In [1]:
import numpy as np
import pandas as pd

/var/folders/n5/f6xjtlr526zbr86__yns243m0000gn/T/ipykernel_13237/1662815981.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# Data Preprocessing

### 1. Book-Crossing dataset

In [2]:
# Reading the CSV files and skipping the bad lines
books = pd.read_csv('/Users/sanjeevani1109/Desktop/Book_Recommendation_System/Book crossing /BX-Books.csv', sep=';',on_bad_lines = 'skip', encoding='latin-1')
ratings = pd.read_csv('/Users/sanjeevani1109/Desktop/Book_Recommendation_System/Book crossing /BX-Book-Ratings.csv', sep=';',on_bad_lines = 'skip', encoding='latin-1')
users = pd.read_csv('/Users/sanjeevani1109/Desktop/Book_Recommendation_System/Book crossing /BX-Users.csv',sep=';',on_bad_lines = 'skip', encoding='latin-1')

/var/folders/n5/f6xjtlr526zbr86__yns243m0000gn/T/ipykernel_13237/3698374196.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('/Users/sanjeevani1109/Desktop/Book_Recommendation_System/Book crossing /BX-Books.csv', sep=';',on_bad_lines = 'skip', encoding='latin-1')

#### 1.1 'books' data frame

In [3]:
books

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...
...,...,...,...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm),http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...,http://images.amazon.com/images/P/0440400988.0...
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...,http://images.amazon.com/images/P/0525447644.0...
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...,http://images.amazon.com/images/P/006008667X.0...
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...,http://images.amazon.com/images/P/0192126040.0...
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...,http://images.amazon.com/images/P/0767409752.0...

In [4]:
#Renaming the columns
books.rename(columns={'Book-Title': 'Title', 'Book-Author': 'Author', 'Year-Of-Publication': 'Year'}, inplace=True)

In [5]:
#Dropping the URL columns for the Books table
books.drop(['Image-URL-S', 'Image-URL-M', 'Image-URL-L'], axis=1, inplace=True)

In [6]:
books['Author'].isnull().sum()

2

In [7]:
books.loc[books['Author'].isnull(), 'Author'] = "Others"

In [8]:
books['Author'].isnull().sum()

0

In [9]:
books['Publisher'].isnull().sum()

2

In [10]:
books.loc[books['Publisher'].isnull(), 'Publisher'] = "Others"

In [11]:
books['Publisher'].isnull().sum()

0

In [12]:
books.isnull().sum()

ISBN         0
Title        0
Author       0
Year         0
Publisher    0
dtype: int64

In [13]:
books.drop_duplicates(subset='ISBN', inplace=True)

In [14]:
#Checking the unique set of possible values in the 'Year' column
books['Year'].unique()

array([2002, 2001, 1991, 1999, 2000, 1993, 1996, 1988, 2004, 1998, 1994,
       2003, 1997, 1983, 1979, 1995, 1982, 1985, 1992, 1986, 1978, 1980,
       1952, 1987, 1990, 1981, 1989, 1984, 0, 1968, 1961, 1958, 1974,
       1976, 1971, 1977, 1975, 1965, 1941, 1970, 1962, 1973, 1972, 1960,
       1966, 1920, 1956, 1959, 1953, 1951, 1942, 1963, 1964, 1969, 1954,
       1950, 1967, 2005, 1957, 1940, 1937, 1955, 1946, 1936, 1930, 2011,
       1925, 1948, 1943, 1947, 1945, 1923, 2020, 1939, 1926, 1938, 2030,
       1911, 1904, 1949, 1932, 1928, 1929, 1927, 1931, 1914, 2050, 1934,
       1910, 1933, 1902, 1924, 1921, 1900, 2038, 2026, 1944, 1917, 1901,
       2010, 1908, 1906, 1935, 1806, 2021, '2000', '1995', '1999', '2004',
       '2003', '1990', '1994', '1986', '1989', '2002', '1981', '1993',
       '1983', '1982', '1976', '1991', '1977', '1998', '1992', '1996',
       '0', '1997', '2001', '1974', '1968', '1987', '1984', '1988',
       '1963', '1956', '1970', '1985', '1978', '1973', '1980', '1979',
       '1975', '1969', '1961', '1965', '1939', '1958', '1950', '1953',
       '1966', '1971', '1959', '1972', '1955', '1957', '1945', '1960',
       '1967', '1932', '1924', '1964', '2012', '1911', '1927', '1948',
       '1962', '2006', '1952', '1940', '1951', '1931', '1954', '2005',
       '1930', '1941', '1944', 'DK Publishing Inc', '1943', '1938',
       '1900', '1942', '1923', '1920', '1933', 'Gallimard', '1909',
       '1946', '2008', '1378', '2030', '1936', '1947', '2011', '2020',
       '1919', '1949', '1922', '1897', '2024', '1376', '1926', '2037'],
      dtype=object)

In [15]:
books.loc[books['Year'] == 'DK Publishing Inc',:]

,ISBN,Title,Author,Year,Publisher
209538,078946697X,"DK Readers: Creating the X-Men, How It All Beg...",2000,DK Publishing Inc,http://images.amazon.com/images/P/078946697X.0...
221678,0789466953,"DK Readers: Creating the X-Men, How Comic Book...",2000,DK Publishing Inc,http://images.amazon.com/images/P/0789466953.0...

In [16]:
books.at[209538, 'Publisher'] = 'DK Publishing Inc'
books.at[209538, 'Year'] = 2000
books.at[209538, 'Title'] = 'DK Readers: Creating the X-Men, How It All Began (Level 4: Proficient Readers)'
books.at[209538, 'Author'] = 'Michael Teitelbaum'

In [17]:
books.at[221678, 'Publisher'] = 'DK Publishing Inc'
books.at[221678, 'Year'] = 2000
books.at[221678, 'Title'] = 'DK Readers: Creating the X-Men, How Comic Books Come to Life (Level 4: Proficient Readers)'
books.at[221678, 'Author'] = 'James Buckley'

In [18]:
books.loc[books['Year'] == 'Gallimard',:]

,ISBN,Title,Author,Year,Publisher
220731,2070426769,"Peuple du ciel, suivi de 'Les Bergers\"";Jean-M...",2003,Gallimard,http://images.amazon.com/images/P/2070426769.0...

In [19]:
books.at[220731, 'Publisher'] = 'Gallimard'
books.at[220731, 'Year'] = 2003
books.at[220731, 'Title'] = 'Peuple du ciel - Suivi de Les bergers '
books.at[220731, 'Author'] = 'Jean-Marie Gustave Le ClÃ?Â©zio'

In [20]:
#converting year to integer values
books['Year'] = pd.to_numeric(books['Year'], errors='coerce')

count = books['Year'].value_counts()
most_common_year = count[count == count.max()].index.tolist()[0]

#Replacing all values for Publishing years greater than 2004 or equal to 0 with the maximum year
books.loc[books['Year'] > 2004, 'Year'] = most_common_year
books.loc[books['Year'] == 0, 'Year'] = most_common_year

In [21]:
# Changing all characters to uppercase in ISBN
books['ISBN'] = books['ISBN'].str.upper()

In [22]:
books['Year'] = books['Year'].astype(int)

#### 1.2 'users' data frame

In [23]:
users

        User-ID                            Location   Age
0             1                  nyc, new york, usa   NaN
1             2           stockton, california, usa  18.0
2             3     moscow, yukon territory, russia   NaN
3             4           porto, v.n.gaia, portugal  17.0
4             5  farnborough, hants, united kingdom   NaN
...         ...                                 ...   ...
278853   278854               portland, oregon, usa   NaN
278854   278855  tacoma, washington, united kingdom  50.0
278855   278856           brampton, ontario, canada   NaN
278856   278857           knoxville, tennessee, usa   NaN
278857   278858                dublin, n/a, ireland   NaN

[278858 rows x 3 columns]

In [24]:
#Renaming the columns
users.rename(columns={'User-ID': 'UserID'}, inplace=True)

##### Ages that have values nan, less than 8, and more than 90 are invalid

In [25]:
age_range = users[users['Age'] <= 90] 
age_range = age_range[age_range['Age'] >= 8]
mean = age_range['Age'].mean().round()

In [26]:
users.loc[(users['Age'] > 90) | (users['Age'] < 8),'Age'] = mean
users['Age']=users['Age'].fillna(mean).astype(int)

In [27]:
# Changing all characters to uppercase in ISBN
ratings['ISBN'] = ratings['ISBN'].str.upper()

In [28]:
users.drop_duplicates(subset='UserID', inplace=True)

#### 1.3 'ratings' data frame

In [29]:
ratings

         User-ID         ISBN  Book-Rating
0         276725   034545104X            0
1         276726   0155061224            5
2         276727   0446520802            0
3         276729   052165615X            3
4         276729   0521795028            6
...          ...          ...          ...
1149775   276704   1563526298            9
1149776   276706   0679447156            0
1149777   276709   0515107662           10
1149778   276721   0590442449           10
1149779   276723  05162443314            8

[1149780 rows x 3 columns]

In [30]:
#Renaming the columns
ratings.rename(columns={'User-ID': 'UserID', 'Book-Rating': 'User_Rating'}, inplace=True)

In [31]:
avg_rating = ratings.groupby('ISBN')['User_Rating'].mean().reset_index()
avg_rating.rename(columns={'User_Rating': 'Average_Rating'}, inplace=True)

In [32]:
books_with_avg_ratings = pd.merge(books, avg_rating, on='ISBN', how='left')

In [33]:
bx = pd.merge(ratings, books_with_avg_ratings, on='ISBN', how='left')
bx

,UserID,ISBN,User_Rating,Title,Author,Year,Publisher,Average_Rating
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002.0,Ballantine Books,2.933333
1,276726,0155061224,5,Rites of Passage,Judith Rae,2001.0,Heinle,2.500000
2,276727,0446520802,0,The Notebook,Nicholas Sparks,1996.0,Warner Books,4.060345
3,276729,052165615X,3,Help!: Level 1,Philip Prowse,1999.0,Cambridge University Press,3.000000
4,276729,0521795028,6,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001.0,Cambridge University Press,6.000000
...,...,...,...,...,...,...,...,...
1163598,276704,1563526298,9,Get Clark Smart : The Ultimate Guide for the S...,Clark Howard,2000.0,Longstreet Press,7.000000
1163599,276706,0679447156,0,Eight Weeks to Optimum Health: A Proven Progra...,Andrew Weil,1997.0,Alfred A. Knopf,2.925000
1163600,276709,0515107662,10,The Sherbrooke Bride (Bride Trilogy (Paperback)),Catherine Coulter,1996.0,Jove Books,3.454545
1163601,276721,0590442449,10,Fourth Grade Rats,Jerry Spinelli,1996.0,Scholastic,1.200000
1163602,276723,05162443314,8,NaN,NaN,NaN,NaN,NaN

In [34]:
bx.dropna(subset=['Average_Rating'], inplace=True)

In [35]:
# Scale user ratings
u_scaled_ratings = (bx['User_Rating'] - 1) * (5 / 9) + 1
bx['User_Rating'] = np.clip(np.round(u_scaled_ratings), 1, 5).astype(int)

In [36]:
bx['User_Rating'].unique()

array([1, 3, 2, 4, 5])

In [37]:
u_scaled_ratings.isnull().sum()

0

In [38]:
bx['Average_Rating'].isna().sum()

0

In [39]:
bx['Average_Rating'].unique()

array([2.93333333, 2.5       , 4.06034483, ..., 2.85294118, 7.88888889,
       9.125     ])

In [40]:
bx['Average_Rating'] = ((bx['Average_Rating'] - 1) * (4 / 9) + 1).round().astype(int)

In [41]:
bx['Average_Rating'].unique()

array([2, 3, 1, 4, 5])

In [42]:
bx['Year'] = bx['Year'].astype(int)
bx

,UserID,ISBN,User_Rating,Title,Author,Year,Publisher,Average_Rating
0,276725,034545104X,1,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,2
1,276726,0155061224,3,Rites of Passage,Judith Rae,2001,Heinle,2
2,276727,0446520802,1,The Notebook,Nicholas Sparks,1996,Warner Books,2
3,276729,052165615X,2,Help!: Level 1,Philip Prowse,1999,Cambridge University Press,2
4,276729,0521795028,4,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,2001,Cambridge University Press,3
...,...,...,...,...,...,...,...,...
1163597,276704,0876044011,1,Edgar Cayce on the Akashic Records: The Book o...,Kevin J. Todeschi,1998,A.R.E. Press (Association of Research &amp; Enlig,1
1163598,276704,1563526298,5,Get Clark Smart : The Ultimate Guide for the S...,Clark Howard,2000,Longstreet Press,4
1163599,276706,0679447156,1,Eight Weeks to Optimum Health: A Proven Progra...,Andrew Weil,1997,Alfred A. Knopf,2
1163600,276709,0515107662,5,The Sherbrooke Bride (Bride Trilogy (Paperback)),Catherine Coulter,1996,Jove Books,2
1163601,276721,0590442449,5,Fourth Grade Rats,Jerry Spinelli,1996,Scholastic,1

In [43]:
bx.isnull().sum()

UserID            0
ISBN              0
User_Rating       0
Title             0
Author            0
Year              0
Publisher         0
Average_Rating    0
dtype: int64

### 2. Goodbooks-10k dataset

In [44]:
goodbooks = pd.read_csv('/Users/sanjeevani1109/Desktop/Book_Recommendation_System/goodreads-10k/books.csv', sep=',',on_bad_lines = 'skip', encoding='latin-1')
goodratings = pd.read_csv('/Users/sanjeevani1109/Desktop/Book_Recommendation_System/goodreads-10k/ratings.csv', sep=',',on_bad_lines = 'skip', encoding='latin-1')
goodbooks_tags = pd.read_csv('/Users/sanjeevani1109/Desktop/Book_Recommendation_System/goodreads-10k/book_tags.csv',sep=',',on_bad_lines = 'skip', encoding='latin-1')
goodtags = pd.read_csv('/Users/sanjeevani1109/Desktop/Book_Recommendation_System/goodreads-10k/tags.csv',sep=',',on_bad_lines = 'skip', encoding='latin-1')
good_toread = pd.read_csv('/Users/sanjeevani1109/Desktop/Book_Recommendation_System/goodreads-10k/to_read.csv',sep=',',on_bad_lines = 'skip', encoding='latin-1')

#### 2.1 'books' data frame

In [45]:
goodbooks

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPrÃ©",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,7130616,7130616,7392860,19,441019455,9.780441e+12,Ilona Andrews,2010.0,Bayou Moon,...,17204,18856,1180,105,575,3538,7860,6778,https://images.gr-assets.com/books/1307445460m...,https://images.gr-assets.com/books/1307445460s...
9996,9997,208324,208324,1084709,19,067973371X,9.780680e+12,Robert A. Caro,1990.0,Means of Ascent,...,12582,12952,395,303,551,1737,3389,6972,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...
9997,9998,77431,77431,2393986,60,039330762X,9.780393e+12,Patrick O'Brian,1977.0,The Mauritius Command,...,9421,10733,374,11,111,1191,4240,5180,https://images.gr-assets.com/books/1455373531m...,https://images.gr-assets.com/books/1455373531s...
9998,9999,8565083,8565083,13433613,7,61711527,9.780062e+12,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,...,11279,11994,1988,275,1002,3765,4577,2375,https://images.gr-assets.com/books/1279214118m...,https://images.gr-assets.com/books/1279214118s...
9999,10000,8914,8914,11817,31,375700455,9.780376e+12,John Keegan,1998.0,The First World War,...,9162,9700,364,117,345,2031,4138,3069,https://images.gr-assets.com/books/1403194704m...,https://images.gr-assets.com/books/1403194704s...

In [46]:
#Dropping the URL columns for the Books table
goodbooks.drop(['image_url', 'small_image_url'], axis=1, inplace=True)

In [47]:
#Renaming the columns
goodbooks.rename(columns={'book_id': 'BookID', 'isbn': 'ISBN', 'authors': 'Author', 'original_publication_year': 'Year', 'original_title': 'Title', 'average_rating': 'Average_Rating'}, inplace=True)

In [48]:
goodbooks['Year'].isnull().sum()

21

In [49]:
# goodbooks.dropna(subset=['Year'], inplace=True)

In [50]:
average_year = goodbooks.loc[goodbooks['Year'] >= 1800, 'Year'].mean().round()
average_year

1994.0

In [51]:
goodbooks.loc[goodbooks['Year'] == 0, 'Year'] = average_year
goodbooks.loc[:, 'Year'] = goodbooks['Year'].fillna(average_year)
goodbooks.loc[goodbooks['Year'] < 1800, 'Year'] = average_year

In [52]:
goodbooks['Year'].isnull().sum()

0

In [53]:
goodbooks['Year'] = goodbooks['Year'].astype(int)

In [54]:
goodbooks.isnull().sum()

id                            0
BookID                        0
best_book_id                  0
work_id                       0
books_count                   0
ISBN                        700
isbn13                      585
Author                        0
Year                          0
Title                       585
title                         0
language_code              1084
Average_Rating                0
ratings_count                 0
work_ratings_count            0
work_text_reviews_count       0
ratings_1                     0
ratings_2                     0
ratings_3                     0
ratings_4                     0
ratings_5                     0
dtype: int64

In [55]:
goodbooks['Title'].nunique()

9274

In [56]:
# #creating a new data frame only with the relevant columns
# selected_cols = ['id', 'BookID', 'ISBN', 'Author', 'Year', 'Title', 'Average_Rating']
# new_goodbooks = goodbooks[selected_cols].copy()

In [57]:
# new_goodbooks['Title'].nunique()

In [58]:
# goodbooks.dropna(subset=['Title'], inplace=True)

##### Retrieving missing ISBN values from book-crossing dataset

In [59]:
# Create a mapping dictionary from 'books' DataFrame with 'title' and 'author' as keys and 'ISBN' as values
isbn_mapping = dict(zip(zip(books['Title'], books['Author']), books['ISBN']))

In [60]:
# Update missing ISBN values in 'goodbooks' based on the mapping dictionary
goodbooks['ISBN'] = goodbooks.apply(lambda row: isbn_mapping.get((row['Title'], row['Author']), row['ISBN']), axis=1)

In [61]:
goodbooks.isnull().sum()

id                            0
BookID                        0
best_book_id                  0
work_id                       0
books_count                   0
ISBN                        680
isbn13                      585
Author                        0
Year                          0
Title                       585
title                         0
language_code              1084
Average_Rating                0
ratings_count                 0
work_ratings_count            0
work_text_reviews_count       0
ratings_1                     0
ratings_2                     0
ratings_3                     0
ratings_4                     0
ratings_5                     0
dtype: int64

In [62]:
goodbooks['Title'].nunique()

9274

In [63]:
#creating a new data frame only with the relevant columns
selected_cols = ['id', 'BookID', 'ISBN', 'Author', 'Year', 'Title', 'Average_Rating']
new_goodbooks = goodbooks[selected_cols].copy()

In [64]:
new_goodbooks['Title'].nunique()

9274

In [65]:
new_goodbooks.isnull().sum()

id                  0
BookID              0
ISBN              680
Author              0
Year                0
Title             585
Average_Rating      0
dtype: int64

#### 2.2 'ratings' data frame

In [66]:
goodratings

        book_id  user_id  rating
0             1      314       5
1             1      439       3
2             1      588       5
3             1     1169       4
4             1     1185       4
...         ...      ...     ...
981751    10000    48386       5
981752    10000    49007       4
981753    10000    49383       5
981754    10000    50124       5
981755    10000    51328       1

[981756 rows x 3 columns]

In [67]:
goodratings.rename(columns={'book_id':'id', 'user_id':'UserID', 'rating':'User_Rating'}, inplace=True)

In [ ]:
# # Calculating average book rating per ISBN
# avg_goodbook_rating = goodratings.groupby('BookID')['User_Rating'].mean().reset_index()
# avg_goodbook_rating.rename(columns={'User_Rating': 'Average_Rating'}, inplace=True)

In [ ]:
# # Merging avg_goodbook_rating with goodbooks DataFrame on BookID
# goodbooks = pd.merge(goodbooks, avg_goodbook_rating, on='BookID', how='left')

In [68]:
gbx = pd.merge(new_goodbooks, goodratings, on='id')
gbx.head()

,id,BookID,ISBN,Author,Year,Title,Average_Rating,UserID,User_Rating
0,1,2767052,439023483,Suzanne Collins,2008,The Hunger Games,4.34,314,5
1,1,2767052,439023483,Suzanne Collins,2008,The Hunger Games,4.34,439,3
2,1,2767052,439023483,Suzanne Collins,2008,The Hunger Games,4.34,588,5
3,1,2767052,439023483,Suzanne Collins,2008,The Hunger Games,4.34,1169,4
4,1,2767052,439023483,Suzanne Collins,2008,The Hunger Games,4.34,1185,4

In [69]:
gbx['Title'].nunique()

9274

In [70]:
gbx.isnull().sum()

id                    0
BookID                0
ISBN              65287
Author                0
Year                  0
Title             55537
Average_Rating        0
UserID                0
User_Rating           0
dtype: int64

In [ ]:
# gbx.dropna(subset=['Title'], inplace=True)

In [71]:
gbx.dropna(subset=['ISBN'], inplace=True)

In [72]:
gbx.isnull().sum()

id                    0
BookID                0
ISBN                  0
Author                0
Year                  0
Title             42207
Average_Rating        0
UserID                0
User_Rating           0
dtype: int64

In [73]:
gbx['Title'].nunique()

8755

In [74]:
gbx['User_Rating'].unique()

array([5, 3, 4, 1, 2])

In [75]:
gbx['Average_Rating'] = gbx['Average_Rating'].round().astype(int)

In [76]:
gbx['Average_Rating'].unique()

array([4, 5, 3, 2])

In [77]:
gbx

,id,BookID,ISBN,Author,Year,Title,Average_Rating,UserID,User_Rating
0,1,2767052,439023483,Suzanne Collins,2008,The Hunger Games,4,314,5
1,1,2767052,439023483,Suzanne Collins,2008,The Hunger Games,4,439,3
2,1,2767052,439023483,Suzanne Collins,2008,The Hunger Games,4,588,5
3,1,2767052,439023483,Suzanne Collins,2008,The Hunger Games,4,1169,4
4,1,2767052,439023483,Suzanne Collins,2008,The Hunger Games,4,1185,4
...,...,...,...,...,...,...,...,...,...
981751,10000,8914,0375400524,John Keegan,1998,The First World War,4,48386,5
981752,10000,8914,0375400524,John Keegan,1998,The First World War,4,49007,4
981753,10000,8914,0375400524,John Keegan,1998,The First World War,4,49383,5
981754,10000,8914,0375400524,John Keegan,1998,The First World War,4,50124,5
981755,10000,8914,0375400524,John Keegan,1998,The First World War,4,51328,1

#### 2.3 'book_tags' data frame

In [78]:
goodbooks_tags

        goodreads_book_id  tag_id   count
0                       1   30574  167697
1                       1   11305   37174
2                       1   11557   34173
3                       1    8717   12986
4                       1   33114   12716
...                   ...     ...     ...
999907           33288638   21303       7
999908           33288638   17271       7
999909           33288638    1126       7
999910           33288638   11478       7
999911           33288638   27939       7

[999912 rows x 3 columns]

#### 2.4 'tags' data frame

In [79]:
goodtags

       tag_id                        tag_name
0           0                               -
1           1                            --1-
2           2                           --10-
3           3                           --12-
4           4                          --122-
...       ...                             ...
34247   34247                     ï¼£hildrens
34248   34248     ï¼¦ï½ï½ï½ï½ï½ï½ï½
ï½
34249   34249                 ï¼­ï½ï½ï½ï½
34250   34250              ï¼³ï¼¥ï¼²ï¼©ï¼¥ï¼³
34251   34251  ï½ï½ï½ï½ï½ï½ï½ï½ï½
ï½

[34252 rows x 2 columns]

#### 2.5 'to_read' data frame

In [80]:
good_toread

        user_id  book_id
0             1      112
1             1      235
2             1      533
3             1     1198
4             1     1874
...         ...      ...
912700    53424     4716
912701    53424     4844
912702    53424     5907
912703    53424     7569
912704    53424     8859

[912705 rows x 2 columns]

### Cleaning values for 'bx' and 'gbx' data frames

In [81]:
import nltk #using the nltk library for tokenization and lemmatization
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/sanjeevani1109/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/sanjeevani1109/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     /Users/sanjeevani1109/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/sanjeevani1109/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [82]:
import string
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

In [83]:
#Function to clean text data
def clean_text(text):
    text = text.lower()     #Converting the text to lowercase
    text = re.sub(r'\d+', ' ', text)    # Removing digits
    text = re.sub(r'[^a-zA-Z\s]', '', text)  # Removing special characters
    text = text.translate(str.maketrans('', '', string.punctuation))    #Removing punctuation     
    tokens = word_tokenize(text) #Tokenization of the text
    non_stopwords = []  #Creating an empty list to store the non-stopwords
    stop_words = set(stopwords.words('english')) #Initializing the NLTK English stopwords
    #Lemmatization of the words/tokens
    lemmatizer = WordNetLemmatizer()    #Initialization of the NLTK WordNet Lemmatizer

    #Iterating through the list of tokens, lemmatizing them, and adding it to the list of non-stopwords
    for token in tokens:
        if token not in stop_words:
            lemma = lemmatizer.lemmatize(token) #Performing lemmatization
            non_stopwords.append(lemma)  # Appending the stemmed token back to the list of non-stopwords

    # Joining the tokens/words from the list of non-stopwords into a string
    filtered_text = ' '.join(non_stopwords)
    return filtered_text

In [84]:
bx['Title'].nunique()

241071

In [85]:
gbx['Title'].nunique()

8755

In [93]:
gbx['Title'].count()

874262

In [92]:
gbx['Title'].isna().sum()

42207

In [94]:
gbx.dropna(subset=['Title'], inplace=True)

In [95]:
gbx['Title'].nunique()

8755

In [96]:
gbx['Title'].count()

874262

In [97]:
gbx['Title'].isna().sum()

0

#### Cleaning columns for 'bx' data frame

In [86]:
# Applying the clean_text function to the 'Title' column of the first data frame 'bx' i.e., the Book Crossing dataset's final data frame
bx['cleaned_title'] = bx['Title'].apply(clean_text)

In [87]:
print("First DataFrame - bx:")
print(bx[['Title', 'cleaned_title']].head())

First DataFrame - bx:
                                               Title  \
0                               Flesh Tones: A Novel
1                                   Rites of Passage
2                                       The Notebook
3                                     Help!: Level 1
4  The Amsterdam Connection : Level 4 (Cambridge ...

                                       cleaned_title
0                                   flesh tone novel
1                                       rite passage
2                                           notebook
3                                         help level
4  amsterdam connection level cambridge english r...

In [88]:
# Applying the clean_text function to the 'Author' column of the first data frame 'bx'
bx['cleaned_author'] = bx['Author'].apply(clean_text)

In [89]:
print("First DataFrame - bx:")
print(bx[['Author', 'cleaned_author']].head())

First DataFrame - bx:
            Author  cleaned_author
0       M. J. Rose          j rose
1       Judith Rae      judith rae
2  Nicholas Sparks  nicholas spark
3    Philip Prowse   philip prowse
4      Sue Leather     sue leather

#### Cleaning columns for 'gbx' data frame

In [98]:
# Applying the text_clean function to the 'Title' column of the second data frame 'gbx' i.e., the Goodbooks-10k dataset's final data frame
gbx['cleaned_title'] = gbx['Title'].apply(clean_text)

In [99]:
print("\nSecond DataFrame - gbx:")
print(gbx[['Title', 'cleaned_title']].head())

Second DataFrame - gbx:
              Title cleaned_title
0  The Hunger Games   hunger game
1  The Hunger Games   hunger game
2  The Hunger Games   hunger game
3  The Hunger Games   hunger game
4  The Hunger Games   hunger game

In [100]:
# Applying the clean_text function to the 'Author' column of the second data frame 'gbx'
gbx['cleaned_author'] = gbx['Author'].apply(clean_text)

In [101]:
print("\nSecond DataFrame - gbx:")
print(gbx[['Author', 'cleaned_author']].head())

Second DataFrame - gbx:
            Author   cleaned_author
0  Suzanne Collins  suzanne collins
1  Suzanne Collins  suzanne collins
2  Suzanne Collins  suzanne collins
3  Suzanne Collins  suzanne collins
4  Suzanne Collins  suzanne collins

# Web-Scraping Genres from Goodreads

In [105]:
bx.drop(columns=['Year', 'Publisher'], inplace=True)
bx

,UserID,ISBN,User_Rating,Title,Author,Average_Rating,cleaned_title,cleaned_author
0,276725,034545104X,1,Flesh Tones: A Novel,M. J. Rose,2,flesh tone novel,j rose
1,276726,0155061224,3,Rites of Passage,Judith Rae,2,rite passage,judith rae
2,276727,0446520802,1,The Notebook,Nicholas Sparks,2,notebook,nicholas spark
3,276729,052165615X,2,Help!: Level 1,Philip Prowse,2,help level,philip prowse
4,276729,0521795028,4,The Amsterdam Connection : Level 4 (Cambridge ...,Sue Leather,3,amsterdam connection level cambridge english r...,sue leather
...,...,...,...,...,...,...,...,...
1163597,276704,0876044011,1,Edgar Cayce on the Akashic Records: The Book o...,Kevin J. Todeschi,1,edgar cayce akashic record book life,kevin j todeschi
1163598,276704,1563526298,5,Get Clark Smart : The Ultimate Guide for the S...,Clark Howard,4,get clark smart ultimate guide savvy consumer,clark howard
1163599,276706,0679447156,1,Eight Weeks to Optimum Health: A Proven Progra...,Andrew Weil,2,eight week optimum health proven program takin...,andrew weil
1163600,276709,0515107662,5,The Sherbrooke Bride (Bride Trilogy (Paperback)),Catherine Coulter,2,sherbrooke bride bride trilogy paperback,catherine coulter
1163601,276721,0590442449,5,Fourth Grade Rats,Jerry Spinelli,1,fourth grade rat,jerry spinelli

In [106]:
bx['Title'].nunique()

241071

In [108]:
gbx.drop(columns=['Year'], inplace=True)
gbx

,id,BookID,ISBN,Author,Title,Average_Rating,UserID,User_Rating,cleaned_title,cleaned_author
0,1,2767052,439023483,Suzanne Collins,The Hunger Games,4,314,5,hunger game,suzanne collins
1,1,2767052,439023483,Suzanne Collins,The Hunger Games,4,439,3,hunger game,suzanne collins
2,1,2767052,439023483,Suzanne Collins,The Hunger Games,4,588,5,hunger game,suzanne collins
3,1,2767052,439023483,Suzanne Collins,The Hunger Games,4,1169,4,hunger game,suzanne collins
4,1,2767052,439023483,Suzanne Collins,The Hunger Games,4,1185,4,hunger game,suzanne collins
...,...,...,...,...,...,...,...,...,...,...
981751,10000,8914,0375400524,John Keegan,The First World War,4,48386,5,first world war,john keegan
981752,10000,8914,0375400524,John Keegan,The First World War,4,49007,4,first world war,john keegan
981753,10000,8914,0375400524,John Keegan,The First World War,4,49383,5,first world war,john keegan
981754,10000,8914,0375400524,John Keegan,The First World War,4,50124,5,first world war,john keegan
981755,10000,8914,0375400524,John Keegan,The First World War,4,51328,1,first world war,john keegan

In [109]:
gbx['Title'].nunique()

8755

In [110]:
pip install requests beautifulsoup4

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: requests in /opt/homebrew/lib/python3.9/site-packages (2.31.0)
Requirement already satisfied: beautifulsoup4 in /opt/homebrew/lib/python3.9/site-packages (4.12.3)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/homebrew/lib/python3.9/site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/homebrew/lib/python3.9/site-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/homebrew/lib/python3.9/site-packages (from requests) (2.2.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/homebrew/lib/python3.9/site-packages (from requests) (2024.2.2)
Requirement already satisfied: soupsieve>1.2 in /opt/homebrew/lib/python3.9/site-packages (from beautifulsoup4) (2.5)
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Note: you may need to restart the kernel to use updated packages.

In [111]:
pip install requests

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: requests in /opt/homebrew/lib/python3.9/site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/homebrew/lib/python3.9/site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/homebrew/lib/python3.9/site-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/homebrew/lib/python3.9/site-packages (from requests) (2.2.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/homebrew/lib/python3.9/site-packages (from requests) (2024.2.2)
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Note: you may need to restart the kernel to use updated packages.

In [112]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import time
import json
from requests.exceptions import RequestException

### Functions for web-scraping for 'gbx' data frame

In [113]:
# Load or create cache
def load_cache(cache_file='goodreads_genre_cache.json'):
    try:
        with open(cache_file, 'r') as file:
            cache = json.load(file)
    except FileNotFoundError:
        cache = {}
    return cache

In [114]:
# Save cache
def save_cache(cache, cache_file='goodreads_genre_cache.json'):
    with open(cache_file, 'w') as file:
        json.dump(cache, file, indent=4)

In [115]:
# Handle request with retry mechanism
def make_request_with_retries(url, headers=None, max_retries=5, timeout=10):
    for attempt in range(max_retries):
        try:
            response = requests.get(url, headers=headers, timeout=timeout)
            response.raise_for_status()  # Raises exception for 4XX or 5XX status codes
            return response
        except RequestException as e:
            print(f"Request failed, attempt {attempt + 1}/{max_retries}. Error: {e}")
            time.sleep(2 ** attempt)  # Exponential backoff
    print("Max retries exceeded.")
    return None

In [116]:
# Scrape genres from Goodreads
def scrape_genres_from_goodreads(title, cache):
    if title in cache:  # Skip if already in cache
        print(f"Skipping cached title: {title}")
        return cache[title]
    
    search_url = f"https://www.goodreads.com/search?q={requests.utils.quote(title)}"
    headers = {
        'User-Agent': 'Mozilla/5.0'
    }

    try:
        response = requests.get(search_url, headers=headers)
        if response.status_code == 200:
            soup = BeautifulSoup(response.content, 'html.parser')
            book_link = soup.select_one('a.bookTitle')
            if book_link:
                book_page_url = 'https://www.goodreads.com' + book_link['href']
                book_response = requests.get(book_page_url, headers=headers)
                if book_response.status_code == 200:
                    book_soup = BeautifulSoup(book_response.content, 'html.parser')
                    # genres = [genre.text.strip() for genre in book_soup.select('.BookPageMetadataSection__genres .actionLinkLite.bookPageGenreLink')]
                    genres = [genre.text.strip() for genre in book_soup.select('a[href*="/genres/"]')]
                    if genres:
                        cache[title] = genres
                        print(f"Retrieved genres for {title}: {genres}")
                        return genres
        # cache[title] = ['No Genres Found']
        # print(f"Genres not found for {title}")
        # return ['No Genres Found']
    
    except Exception as e:
        print(f"Error fetching data for '{title}': {e}")
    
    cache[title] = ['No Genres Found']
    return ['No Genres Found']

In [117]:
def add_genres_to_dataframe(df, start_index, batch_size=50, delay_between_batches=20, cache_file='goodreads_genre_cache.json'):
    cache = load_cache(cache_file)
    total_batches = (len(df) - start_index + batch_size - 1) // batch_size

    for batch_num in range(total_batches):
        # start_index = batch_num * batch_size
        # end_index = min(start_index + batch_size, len(df))
        # batch = df.iloc[start_index:end_index]
        batch_start_index = start_index + batch_num * batch_size
        batch_end_index = min(batch_start_index + batch_size, len(df))
        batch = df.iloc[batch_start_index:batch_end_index]

        for index, row in batch.iterrows():
            title = row['Title']
            genres = scrape_genres_from_goodreads(title, cache)
            df.at[index, 'Genres'] = ', '.join(genres)

        save_cache(cache, cache_file)
        print(f"Processed batch {batch_num + 1} of {total_batches}.")
        # print(df)  # Print the updated DataFrame
        print(df.iloc[batch_start_index:batch_end_index])  # Print the updated DataFrame batch

        if batch_num < total_batches - 1:
            time.sleep(delay_between_batches)

    return df

In [ ]:
# start_index = 1936  # Specify the index to start from
# gbx_with_genres = add_genres_to_dataframe(gbx, start_index, batch_size=50, delay_between_batches=20)

In [118]:
#Function to count the number of scraped books
import json

def count_cached_books(cache_file='goodreads_genre_cache.json'):
    try:
        with open(cache_file, 'r') as file:
            cache = json.load(file)
        num_cached_books = len(cache)
        print(f"Number of books with genres cached: {num_cached_books}")
    except FileNotFoundError:
        print("Cache file not found. No books with genres cached.")

# Call the function to count cached books
count_cached_books()

Number of books with genres cached: 9242

In [119]:
# Function to update the DataFrame with genres from the cache within specified indices
def update_genres_from_cache_with_indices(df, cache, start_index, stop_index):
    # Ensure stop_index does not exceed the DataFrame's length
    stop_index = min(stop_index, len(df))
    
    for index in range(start_index, stop_index):
        title = df.at[index, 'Title']
        # Update the 'Genres' column from the cache if the title exists in the cache
        if title in cache:
            df.at[index, 'Genres'] = ', '.join(cache[title])
        else:
            # Optional: Handle titles not found in the cache
            df.at[index, 'Genres'] = 'Genres Not Found'  # or leave as is or any other placeholder you prefer

In [123]:
gbx.reset_index(drop=True, inplace=True)

In [125]:
gbx.index[-1]

874261

In [126]:
start_index = 0  # Start from the beginning or any index you prefer
stop_index = 874261  # Specify your stop index

cache = load_cache()# Load the cached genres

# Update the DataFrame within the specified index range
update_genres_from_cache_with_indices(gbx, cache, start_index, stop_index)

In [127]:
gbx

,id,BookID,ISBN,Author,Title,Average_Rating,UserID,User_Rating,cleaned_title,cleaned_author,Genres
0,1,2767052,439023483,Suzanne Collins,The Hunger Games,4,314,5,hunger game,suzanne collins,"Young Adult, Fiction, Fantasy, Dystopia, Scien..."
1,1,2767052,439023483,Suzanne Collins,The Hunger Games,4,439,3,hunger game,suzanne collins,"Young Adult, Fiction, Fantasy, Dystopia, Scien..."
2,1,2767052,439023483,Suzanne Collins,The Hunger Games,4,588,5,hunger game,suzanne collins,"Young Adult, Fiction, Fantasy, Dystopia, Scien..."
3,1,2767052,439023483,Suzanne Collins,The Hunger Games,4,1169,4,hunger game,suzanne collins,"Young Adult, Fiction, Fantasy, Dystopia, Scien..."
4,1,2767052,439023483,Suzanne Collins,The Hunger Games,4,1185,4,hunger game,suzanne collins,"Young Adult, Fiction, Fantasy, Dystopia, Scien..."
...,...,...,...,...,...,...,...,...,...,...,...
874257,10000,8914,0375400524,John Keegan,The First World War,4,48386,5,first world war,john keegan,"History, Nonfiction, War, World War I, Militar..."
874258,10000,8914,0375400524,John Keegan,The First World War,4,49007,4,first world war,john keegan,"History, Nonfiction, War, World War I, Militar..."
874259,10000,8914,0375400524,John Keegan,The First World War,4,49383,5,first world war,john keegan,"History, Nonfiction, War, World War I, Militar..."
874260,10000,8914,0375400524,John Keegan,The First World War,4,50124,5,first world war,john keegan,"History, Nonfiction, War, World War I, Militar..."
874261,10000,8914,0375400524,John Keegan,The First World War,4,51328,1,first world war,john keegan,NaN

In [129]:
(gbx['Genres'] == 'No Genres Found').sum()

51611

In [130]:
gbx['Genres'] = gbx['Genres'].replace('Genres Not Found', 'No Genres Found')

In [131]:
(gbx['Genres'] == 'No Genres Found').sum()

54611

In [132]:
gbx['Title'].nunique()

8755

In [133]:
# gbx_cleaned = gbx[gbx['Genres'] != 'No Genres Found'] #creating a new dataframe not containing any missing values in the genres column
gbx_cleaned = gbx[(gbx['Genres'] != 'No Genres Found') & gbx['Genres'].notna()]
gbx_cleaned

,id,BookID,ISBN,Author,Title,Average_Rating,UserID,User_Rating,cleaned_title,cleaned_author,Genres
0,1,2767052,439023483,Suzanne Collins,The Hunger Games,4,314,5,hunger game,suzanne collins,"Young Adult, Fiction, Fantasy, Dystopia, Scien..."
1,1,2767052,439023483,Suzanne Collins,The Hunger Games,4,439,3,hunger game,suzanne collins,"Young Adult, Fiction, Fantasy, Dystopia, Scien..."
2,1,2767052,439023483,Suzanne Collins,The Hunger Games,4,588,5,hunger game,suzanne collins,"Young Adult, Fiction, Fantasy, Dystopia, Scien..."
3,1,2767052,439023483,Suzanne Collins,The Hunger Games,4,1169,4,hunger game,suzanne collins,"Young Adult, Fiction, Fantasy, Dystopia, Scien..."
4,1,2767052,439023483,Suzanne Collins,The Hunger Games,4,1185,4,hunger game,suzanne collins,"Young Adult, Fiction, Fantasy, Dystopia, Scien..."
...,...,...,...,...,...,...,...,...,...,...,...
874256,10000,8914,0375400524,John Keegan,The First World War,4,48281,4,first world war,john keegan,"History, Nonfiction, War, World War I, Militar..."
874257,10000,8914,0375400524,John Keegan,The First World War,4,48386,5,first world war,john keegan,"History, Nonfiction, War, World War I, Militar..."
874258,10000,8914,0375400524,John Keegan,The First World War,4,49007,4,first world war,john keegan,"History, Nonfiction, War, World War I, Militar..."
874259,10000,8914,0375400524,John Keegan,The First World War,4,49383,5,first world war,john keegan,"History, Nonfiction, War, World War I, Militar..."
874260,10000,8914,0375400524,John Keegan,The First World War,4,50124,5,first world war,john keegan,"History, Nonfiction, War, World War I, Militar..."

In [134]:
gbx_cleaned['Title'].nunique()

8195

### Functions for web-scraping for 'bx' data frame

In [135]:
bx['Title'].nunique()

241071

In [136]:
#Function to match title and author and copy genres from gbx_cleaned
def match_and_copy_genres(row):
    matched_row = gbx_cleaned[(gbx_cleaned['Title'] == row['Title']) & (gbx_cleaned['Author'] == row['Author'])]
    if not matched_row.empty:
        return matched_row.iloc[0]['Genres']
    else:
        return 'No Genres Found'

In [137]:
# Apply the function to each row in bx
bx['Genres'] = bx.apply(lambda row: match_and_copy_genres(row), axis=1)

In [ ]:
bx

In [ ]:
bx_cleaned1 = bx[bx['Genres'] != 'No Genres Found']
bx_cleaned1

In [ ]:
# Load or create cache
def load_bookcache(cache_file='newbook_crossing_genre_cache.json'):
    try:
        with open(cache_file, 'r') as file:
            cache = json.load(file)
    except FileNotFoundError:
        cache = {}
    return cache

In [ ]:
# Save cache
def save_bookcache(cache, cache_file='newbook_crossing_genre_cache.json'):
    with open(cache_file, 'w') as file:
        json.dump(cache, file, indent=4)

In [ ]:
# Handle request with retry mechanism
def make_bookrequest_with_retries(url, headers=None, max_retries=5, timeout=10):
    for attempt in range(max_retries):
        try:
            response = requests.get(url, headers=headers, timeout=timeout)
            response.raise_for_status()  # Raises exception for 4XX or 5XX status codes
            return response
        except RequestException as e:
            print(f"Request failed, attempt {attempt + 1}/{max_retries}. Error: {e}")
            time.sleep(2 ** attempt)  # Exponential backoff
    print("Max retries exceeded.")
    return None

In [ ]:
# Scrape genres from Goodreads
def scrape_bookgenres_from_goodreads(title, cache):
    if title in cache:  # Skip if already in cache
        print(f"Skipping cached title: {title}")
        return cache[title]
    
    search_url = f"https://www.goodreads.com/search?q={requests.utils.quote(title)}"
    headers = {
        'User-Agent': 'Mozilla/5.0'
    }

    try:
        response = requests.get(search_url, headers=headers)
        if response.status_code == 200:
            soup = BeautifulSoup(response.content, 'html.parser')
            book_link = soup.select_one('a.bookTitle')
            if book_link:
                book_page_url = 'https://www.goodreads.com' + book_link['href']
                book_response = requests.get(book_page_url, headers=headers)
                if book_response.status_code == 200:
                    book_soup = BeautifulSoup(book_response.content, 'html.parser')
                    # genres = [genre.text.strip() for genre in book_soup.select('.BookPageMetadataSection__genres .actionLinkLite.bookPageGenreLink')]
                    genres = [genre.text.strip() for genre in book_soup.select('a[href*="/genres/"]')]
                    if genres:
                        cache[title] = genres
                        print(f"Retrieved genres for {title}: {genres}")
                        return genres
        # cache[title] = ['No Genres Found']
        # print(f"Genres not found for {title}")
        # return ['No Genres Found']
    
    except Exception as e:
        print(f"Error fetching data for '{title}': {e}")
    
    cache[title] = ['No Genres Found']
    return ['No Genres Found']

In [ ]:
def add_bookgenres_to_dataframe(df, start_index, batch_size=50, delay_between_batches=20, cache_file='newbook_crossing_genre_cache.json'):
    cache = load_bookcache(cache_file)
    total_batches = (len(df) - start_index + batch_size - 1) // batch_size

    for batch_num in range(total_batches):
        # start_index = batch_num * batch_size
        # end_index = min(start_index + batch_size, len(df))
        # batch = df.iloc[start_index:end_index]
        batch_start_index = start_index + batch_num * batch_size
        batch_end_index = min(batch_start_index + batch_size, len(df))
        batch = df.iloc[batch_start_index:batch_end_index]

        for index, row in batch.iterrows():
            title = row['Title']
            # genres = scrape_bookgenres_from_goodreads(title, cache)
            # df.at[index, 'Genres'] = ', '.join(genres)

            # Check if genre is "No Genres Found" or empty before scraping
            if row['Genres'] == 'No Genres Found' or not row['Genres']:
                genres = scrape_bookgenres_from_goodreads(title, cache)
                # Update the Genres column only if new genres are found
                if genres != ['No Genres Found']:
                    df.at[index, 'Genres'] = ', '.join(genres)
            else:
                # Optionally, print a message for titles that are skipped
                print(f"Skipping '{title}' as it already has genres.")

        save_bookcache(cache, cache_file)
        print(f"Processed batch {batch_num + 1} of {total_batches}.")
        # print(df)  # Print the updated DataFrame
        print(df.iloc[batch_start_index:batch_end_index])  # Print the updated DataFrame batch

        if batch_num < total_batches - 1:
            time.sleep(delay_between_batches)

    return df

In [ ]:
# start_index = 27400  # Specify the index to start from
# newbx_with_genres = add_bookgenres_to_dataframe(bx, start_index, batch_size=50, delay_between_batches=10)

In [ ]:
# Function to update the DataFrame with genres from the cache within specified indices
def update_genres_from_bookcache_with_indices(df, cache, start_index, stop_index):
    # Ensure stop_index does not exceed the DataFrame's length
    stop_index = min(stop_index, len(df))
    
    for index in range(start_index, stop_index):
        title = df.at[index, 'Title']
        # Update the 'Genres' column from the cache if the title exists in the cache
        if title in cache:
            df.at[index, 'Genres'] = ', '.join(cache[title])
        else:
            # Optional: Handle titles not found in the cache
            df.at[index, 'Genres'] = 'Genres Not Found'  # or leave as is or any other placeholder you prefer

In [ ]:
bx.reset_index(drop=True, inplace=True)

In [ ]:
bx.index[-1]

In [ ]:
start_index = 0  # Start from the beginning or any index you prefer
stop_index = 241071  # Specify your stop index

cache = load_bookcache()# Load the cached genres

# Update the DataFrame within the specified index range
update_genres_from_bookcache_with_indices(bx, cache, start_index, stop_index)

In [ ]:
bx_cleaned = bx[(bx['Genres'] != 'Genres Not Found') & (bx['Genres'] != 'No Genres Found')]
bx_cleaned

In [ ]:
def clean_genres(text):
    text = text.lower()
    text = re.sub(r'\d+', ' ', text)
    text = re.sub(r'[^a-zA-Z\s]', '', text)
    text = text.translate(str.maketrans('', '', string.punctuation))
    return text

In [ ]:
bx_cleaned['new_combined'] = bx_cleaned['cleaned_title'] + " " + bx_cleaned['cleaned_author'] + " " + bx_cleaned['Genres'].apply(clean_genres)

In [ ]:
gbx_cleaned['new_combined'] = gbx_cleaned['cleaned_title'] + " " + gbx_cleaned['cleaned_author'] + " " + gbx_cleaned['Genres'].apply(clean_genres)

# BERT Embeddings

In [ ]:
pip install transformers

In [ ]:
pip install torch torchvision torchaudio

In [ ]:
from sklearn.model_selection import train_test_split
from transformers import BertTokenizer, BertModel
import torch

In [ ]:
# Initializing BERT tokenizer and model
tokenizer = BertTokenizer.from_pretrained('bert-base-uncased')
model = BertModel.from_pretrained('bert-base-uncased')

In [ ]:
def get_bert_embeddings_batch(text_list, batch_size=32):
    """Generate BERT embeddings for a list of texts in batches."""
    embeddings = [] #initializign an empty list to store the BERT embeddings for all the texts
    for i in range(0, len(text_list), batch_size):  #batch processing the texts from the list of texts
        batch = text_list[i:i+batch_size]
        inputs = tokenizer(batch, return_tensors="pt", padding=True, truncation=True, max_length=512) #tokenization of the texts in the batch and returning the PyTorch tensors
        outputs = model(**inputs)   #passing the tokenized inputs to the BERT model to retrieve the outputs
        embeddings.extend(outputs.last_hidden_state.mean(dim=1).detach().numpy()) 
    return np.vstack(embeddings)    #vertical stacking of of the embeddings to create a single matrix of embeddings for the input texts

# Content-based Recommendation System

### 1. Using BERT Embeddings only

In [ ]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
# Function to get book recommendations from a query using BERT embeddings
def get_content_bert_book_recommendations(query, df, embeddings, top_k=10, similarity_threshold=0.1):
    query_embedding = get_bert_embeddings_batch([query])[0]
    
    # Calculate cosine similarity between the query and all books
    cosine_sim = cosine_similarity([query_embedding], embeddings).flatten()
    
    # Get indices of books above the similarity threshold
    above_threshold_indices = np.where(cosine_sim >= similarity_threshold)[0]
    
    # Sort by cosine similarity
    sorted_indices = np.argsort(cosine_sim[above_threshold_indices])[::-1]
    
    # Get top K similar books
    top_indices = above_threshold_indices[sorted_indices[:top_k]]
    
    # Return recommended books
    recommendations = df.iloc[top_indices][['Title', 'Author', 'Genres']]
    return recommendations

#### 1.1 Using 'Title' only

In [ ]:
#Generating BERT embeddings for all books in batches
X_title = get_bert_embeddings_batch(gbx_cleaned['Title'].tolist())

In [ ]:
Y_title = get_bert_embeddings_batch(bx_cleaned['Title'].tolist())

In [ ]:
query = "the fault in our stars"  # Query with a book title
recommendations = get_content_bert_book_recommendations(query, bx_cleaned, Y_title, top_k=5, similarity_threshold=0.1)
print(recommendations)

In [ ]:
query = "the fault in our stars"  # Query with a book title
recommendations = get_content_bert_book_recommendations(query, gbx_cleaned, X_title, top_k=5, similarity_threshold=0.1)
print(recommendations)

#### 1.2 Using the 'combined' column

In [ ]:
#Generating BERT embeddings for all books in batches
X_combined= get_bert_embeddings_batch(gbx_cleaned['new_combined'].tolist())

In [ ]:
Y_combined = get_bert_embeddings_batch(bx_cleaned['new_combined'].tolist())

In [ ]:
query = "harry potter and the order of the phoenix"  # Query with a book title
recommendations = get_content_bert_book_recommendations(query, gbx_cleaned, X_combined, top_k=5, similarity_threshold=0.1)
print(recommendations)

In [ ]:
query = "harry potter and the order of the phoenix"  # Query with a book title
recommendations = get_content_bert_book_recommendations(query, bx_cleaned, Y_combined, top_k=5, similarity_threshold=0.1)
print(recommendations)

#### 1.3 Using the 'Genres' column only

In [ ]:
X_genres = get_bert_embeddings_batch(gbx_cleaned['Genres'].tolist())

In [ ]:
Y_genres = get_bert_embeddings_batch(bx_cleaned['Genres'].tolist())

In [ ]:
query = "harry potter and the order of the phoenix"  # Query with a book title
recommendations = get_content_bert_book_recommendations(query, gbx_cleaned, X_genres, top_k=5, similarity_threshold=0.1)
print(recommendations)

In [ ]:
query = "harry potter and the order of the phoenix"  # Query with a book title
recommendations = get_content_bert_book_recommendations(query, bx_cleaned, Y_genres, top_k=5, similarity_threshold=0.1)
print(recommendations)

### 2. Using BERT Embeddings and K-Means Clustering

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
# Convert the embeddings to float64
X_combined_float64 = X_combined.astype(np.float64)
Y_combined_float64 = Y_combined.astype(np.float64)

In [ ]:
X_genres_float64 = X_genres.astype(np.float64)
Y_genres_float64 = Y_genres.astype(np.float64)

In [ ]:
# Train the KMeans model for combined embeddings
kmeans_combined_X = KMeans(n_clusters=5, random_state=42).fit(X_combined_float64)
kmeans_combined_Y = KMeans(n_clusters=5, random_state=42).fit(Y_combined_float64)

In [ ]:
kmeans_X_genres = KMeans(n_clusters=5, random_state=42).fit(X_genres_float64)
kmeans_Y_genres = KMeans(n_clusters=5, random_state=42).fit(Y_genres_float64)

In [ ]:
# Predict cluster labels for the same books
cluster_label_combined_X = kmeans_combined_X.predict(X_combined_float64)
cluster_label_combined_Y = kmeans_combined_Y.predict(Y_combined_float64)

In [ ]:
cluster_label_X_genres = kmeans_X_genres.predict(X_genres_float64)
cluster_label_Y_genres = kmeans_Y_genres.predict(Y_genres_float64)

In [ ]:
# Adding cluster labels to your DataFrame
gbx_cleaned['combined_cluster_label'] = cluster_label_combined_X
bx_cleaned['combined_cluster_label'] = cluster_label_combined_Y

In [ ]:
gbx_cleaned['genre_cluster_label'] = cluster_label_X_genres
bx_cleaned['genre_cluster_label'] = cluster_label_Y_genres

In [ ]:
gbx_cleaned.head()

In [ ]:
bx_cleaned.head()

In [ ]:
def get_kmeans_content_book_recommendations(query, kmeans_model, df, top_k=5):
    # query_embedding = get_bert_embeddings_batch([query])[0]

    # Ensure the embeddings are converted to float64
    query_embedding = get_bert_embeddings_batch([query])[0].astype(np.float64)

    # Predict the cluster for the query embedding
    query_label = kmeans_model.predict([query_embedding])[0]
    
    # Get books from the same cluster as the query
    cluster_books = df[df['cluster_label'] == query_label]
    
    # Calculate cosine similarity between the query and cluster books
    cluster_embeddings = get_bert_embeddings_batch(cluster_books['combined'].tolist())
    cosine_sim = np.dot(query_embedding, cluster_embeddings.T).flatten()
    
    # Sorting items based on similarity scores
    sorted_indices = np.argsort(cosine_sim)[-top_k*10:]  # Fetch more items for diversity
    
    seen = set()
    unique_recommendations = []
    for index in sorted_indices[::-1]:  # Iterate in descending order of similarity
        # Ensure unique (Title, Author) combinations
        title_author_genre = (cluster_books.iloc[index]['Title'].lower(), cluster_books.iloc[index]['Author'].lower())
        
        # Check if the current book matches the query to avoid recommending the query itself
        same_as_query = cluster_books.iloc[index]['combined'].lower() == query.lower()
        
        if title_author_genre not in seen and not same_as_query:
            seen.add(title_author_genre)
            unique_recommendations.append(index)
            
            # Break the loop if we have collected enough unique recommendations
            if len(unique_recommendations) == top_k:
                break
    
    if not unique_recommendations:
        return [], "No unique recommendations found."
    
    # Retrieve recommended books based on unique indices
    recommendations = cluster_books.iloc[unique_recommendations][['Title', 'Author', 'Genres']]
    return recommendations, "\nSuccess!"

#### 2.1 Using the 'Genres' column only

In [ ]:
query = "To Kill a Mockingbird"
# Assuming `gbx_cleaned` is your DataFrame and `kmeans_model` is your trained KMeans model
recommendations, message = get_kmeans_content_book_recommendations(query, kmeans_X_genres, gbx_cleaned, top_k=5)
print(recommendations, message)

In [ ]:
query = "To Kill a Mockingbird"
# Assuming `gbx_cleaned` is your DataFrame and `kmeans_model` is your trained KMeans model
recommendations, message = get_kmeans_content_book_recommendations(query, kmeans_Y_genres, bx_cleaned, top_k=5)
print(recommendations, message)

#### 2.2 Using the 'combined' column

In [ ]:
query = "To Kill a Mockingbird"
# Assuming `gbx_cleaned` is your DataFrame and `kmeans_model` is your trained KMeans model
recommendations, message = get_kmeans_content_book_recommendations(query, kmeans_combined_X, gbx_cleaned, top_k=5)
print(recommendations, message)

In [ ]:
query = "To Kill a Mockingbird"
# Assuming `gbx_cleaned` is your DataFrame and `kmeans_model` is your trained KMeans model
recommendations, message = get_kmeans_content_book_recommendations(query, kmeans_combined_Y, bx_cleaned, top_k=5)
print(recommendations, message)

# Collaborative-Filtering