In [1]:
import numpy as np
import pandas as pd

/var/folders/n5/f6xjtlr526zbr86__yns243m0000gn/T/ipykernel_99610/1662815981.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

# Data Preprocessing

### 1. Book-Crossing Dataset

In [2]:
# Reading the CSV files and skipping the bad lines
books = pd.read_csv('/Users/sanjeevani1109/Desktop/Book_Recommendation_System/Book crossing /BX-Books.csv', sep=';',on_bad_lines = 'skip', encoding='latin-1')
ratings = pd.read_csv('/Users/sanjeevani1109/Desktop/Book_Recommendation_System/Book crossing /BX-Book-Ratings.csv', sep=';',on_bad_lines = 'skip', encoding='latin-1')
users = pd.read_csv('/Users/sanjeevani1109/Desktop/Book_Recommendation_System/Book crossing /BX-Users.csv',sep=';',on_bad_lines = 'skip', encoding='latin-1')

/var/folders/n5/f6xjtlr526zbr86__yns243m0000gn/T/ipykernel_99610/3698374196.py:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('/Users/sanjeevani1109/Desktop/Book_Recommendation_System/Book crossing /BX-Books.csv', sep=';',on_bad_lines = 'skip', encoding='latin-1')

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

### 1.1 Books Table

In [4]:
#Renaming the columns
books.rename(columns={'Book-Title': 'Title', 'Book-Author': 'Author', 'Year-Of-Publication': 'Year'}, inplace=True)

In [5]:
#Dropping the URL columns for the Books table
books.drop(['Image-URL-S', 'Image-URL-M', 'Image-URL-L'], axis=1, inplace=True)

In [6]:
books.loc[books['Author'].isnull(), 'Author'] = "Others"

In [7]:
books.loc[books['Publisher'].isnull(), 'Publisher'] = "Others"

In [8]:
books = books.drop_duplicates()

In [9]:
books.at[209538, 'Publisher'] = 'DK Publishing Inc'
books.at[209538, 'Year'] = 2000
books.at[209538, 'Title'] = 'DK Readers: Creating the X-Men, How It All Began (Level 4: Proficient Readers)'
books.at[209538, 'Author'] = 'Michael Teitelbaum'

In [10]:
books.at[221678, 'Publisher'] = 'DK Publishing Inc'
books.at[221678, 'Year'] = 2000
books.at[221678, 'Title'] = 'DK Readers: Creating the X-Men, How Comic Books Come to Life (Level 4: Proficient Readers)'
books.at[221678, 'Author'] = 'James Buckley'

In [11]:
books.at[220731, 'Publisher'] = 'Gallimard'
books.at[220731, 'Year'] = 2003
books.at[220731, 'Title'] = 'Peuple du ciel - Suivi de Les bergers '
books.at[220731, 'Author'] = 'Jean-Marie Gustave Le ClÃ?Â©zio'

In [12]:
#converting year to integer values
books['Year'] = pd.to_numeric(books['Year'], errors='coerce')

In [15]:
count = books['Year'].value_counts()
most_common_year = count[count == count.max()].index.tolist()[0]

In [16]:
#Replacing all values for Publishing years greater than 2004 or equal to 0 with the maximum year
books.loc[books['Year'] > 2004, 'Year'] = most_common_year

In [17]:
books.loc[books['Year'] == 0, 'Year'] = most_common_year

### 1.2 Users Table

In [18]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [19]:
#Renaming the columns
users.rename(columns={'User-ID': 'UserID'}, inplace=True)

#### Ages that have values nan, less than 8, and more than 90 are invalid

In [20]:
age_range = users[users['Age'] <= 90] 
age_range = age_range[age_range['Age'] >= 8]
mean = age_range['Age'].mean().round()

In [21]:
users.loc[(users['Age'] > 90) | (users['Age'] < 8),'Age'] = mean
users['Age']=users['Age'].fillna(mean).astype(int)

### 1.3 Ratings Table

In [22]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [23]:
#Renaming the columns
ratings.rename(columns={'User-ID': 'UserID', 'Book-Rating': 'BookRating'}, inplace=True)

In [24]:
# Assuming 'df' is your original DataFrame
bxratings_copy = ratings.copy()
bxratings_copy.head()

   UserID        ISBN  BookRating
0  276725  034545104X           0
1  276726  0155061224           5
2  276727  0446520802           0
3  276729  052165615X           3
4  276729  0521795028           6

In [30]:
# bx_userratecopy = bxratings_copy.groupby(['ISBN'], as_index=False)['BookRating'].mean().round(0)
# bx_userratecopy.value_counts()
bx_userrate = bxratings_copy.groupby(['ISBN']).agg({'UserID': 'first', 'BookRating': 'mean'}).reset_index()
bx_userrate.head()

          ISBN  UserID  BookRating
0   0330299891   89192         3.0
1   0375404120   89192         1.5
2   0586045007   89192         0.0
3   9022906116   11676         3.5
4   9032803328   89192         0.0

In [31]:
#Scaling the ratings to from a scale of 1-10 to 1-5
scaled_ratingscopy = (bx_userrate['BookRating'] - 1) * (5 / 9) + 1
bx_userrate['Scaled Rating'] = np.clip(round(scaled_ratingscopy), 1, 5)
bx_userrate['Scaled Rating'].unique()

array([2., 1., 3., 5., 4.])

In [32]:
bx_userrate['Scaled Rating'] = bx_userrate['Scaled Rating'].astype(int)
bx_userrate.head()

          ISBN  UserID  BookRating  Scaled Rating
0   0330299891   89192         3.0              2
1   0375404120   89192         1.5              1
2   0586045007   89192         0.0              1
3   9022906116   11676         3.5              2
4   9032803328   89192         0.0              1

### 1.4 Merging Books, Users, and Ratings tables

In [34]:
bx = pd.merge(books, bx_userrate, on='ISBN')
bx.head()

,ISBN,Title,Author,Year,Publisher,UserID,BookRating,Scaled Rating
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,2,0.000000,1
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,8,4.928571,3
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,8,5.000000,3
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,8,4.272727,3
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,8,0.000000,1

### 2. Goodbooks-10k Dataset

In [163]:
goodbooks = pd.read_csv('/Users/sanjeevani1109/Desktop/Book_Recommendation_System/goodreads-10k/books.csv', sep=',',on_bad_lines = 'skip', encoding='latin-1')
goodratings = pd.read_csv('/Users/sanjeevani1109/Desktop/Book_Recommendation_System/goodreads-10k/ratings.csv', sep=',',on_bad_lines = 'skip', encoding='latin-1')
goodbooks_tags = pd.read_csv('/Users/sanjeevani1109/Desktop/Book_Recommendation_System/goodreads-10k/book_tags.csv',sep=',',on_bad_lines = 'skip', encoding='latin-1')
goodtags = pd.read_csv('/Users/sanjeevani1109/Desktop/Book_Recommendation_System/goodreads-10k/tags.csv',sep=',',on_bad_lines = 'skip', encoding='latin-1')
good_toread = pd.read_csv('/Users/sanjeevani1109/Desktop/Book_Recommendation_System/goodreads-10k/to_read.csv',sep=',',on_bad_lines = 'skip', encoding='latin-1')

### 2.1 Books Table

In [36]:
#Dropping the URL columns for the Books table
goodbooks.drop(['image_url', 'small_image_url'], axis=1, inplace=True)

In [37]:
#Renaming the columns
goodbooks.rename(columns={'book_id': 'BookID', 'isbn': 'ISBN', 'authors': 'Author', 'original_publication_year': 'Year', 'original_title': 'Title', 'average_rating': 'Avgrating'}, inplace=True)

In [38]:
average_year = goodbooks.loc[goodbooks['Year'] >= 1800, 'Year'].mean().round()
average_year

1994.0

In [39]:
goodbooks.loc[goodbooks['Year'] == 0, 'Year'] = average_year
goodbooks.loc[:, 'Year'] = goodbooks['Year'].fillna(average_year)
goodbooks.loc[goodbooks['Year'] < 1800, 'Year'] = average_year

In [40]:
goodbooks.dropna(subset=['Title'], inplace=True)

In [41]:
goodbooks.shape

(9415, 21)

In [42]:
goodbooks['Year'] = goodbooks['Year'].astype(int)

In [43]:
#creating a new data frame only with the relevant columns
selected_cols = ['id', 'BookID', 'Author', 'Year', 'Title', 'Avgrating', 'ratings_count']
new_goodbooks = goodbooks[selected_cols].copy()

In [44]:
new_goodbooks.shape

(9415, 7)

In [184]:
new_goodbooks

,id,BookID,Author,Year,Title,Avgrating,ratings_count
0,1,2767052,Suzanne Collins,2008,The Hunger Games,4.34,4780653
1,2,3,"J.K. Rowling, Mary GrandPrÃ©",1997,Harry Potter and the Philosopher's Stone,4.44,4602479
2,3,41865,Stephenie Meyer,2005,Twilight,3.57,3866839
3,4,2657,Harper Lee,1960,To Kill a Mockingbird,4.25,3198671
4,5,4671,F. Scott Fitzgerald,1925,The Great Gatsby,3.89,2683664
...,...,...,...,...,...,...,...
9995,9996,7130616,Ilona Andrews,2010,Bayou Moon,4.09,17204
9996,9997,208324,Robert A. Caro,1990,Means of Ascent,4.25,12582
9997,9998,77431,Patrick O'Brian,1977,The Mauritius Command,4.35,9421
9998,9999,8565083,Peggy Orenstein,2011,Cinderella Ate My Daughter: Dispatches from th...,3.65,11279
9999,10000,8914,John Keegan,1998,The First World War,4.00,9162

### 2.2 Ratings Table

In [45]:
#Renaming the columns
goodratings.rename(columns={'book_id': 'BookID', 'user_id': 'UserID', 'rating': 'Rating'}, inplace=True)

In [47]:
user_rate = goodratings.groupby(['BookID']).agg({'UserID': 'first', 'Rating': 'mean'}).reset_index()
user_rate['Rating'] = user_rate['Rating'].round(0)
user_rate.rename(columns={'Rating': 'Mean Rating'}, inplace=True)
user_rate.head()

   BookID  UserID  Mean Rating
0       1     314          4.0
1       2    1169          4.0
2       3     314          3.0
3       4     439          4.0
4       5     314          4.0

In [48]:
user_rate['Mean Rating'] = user_rate['Mean Rating'].astype(int)
user_rate.head()

   BookID  UserID  Mean Rating
0       1     314            4
1       2    1169            4
2       3     314            3
3       4     439            4
4       5     314            4

In [49]:
user_rate.shape

(10000, 3)

In [183]:
goodbooks_tags.head(101)

     goodreads_book_id  tag_id   count
0                    1   30574  167697
1                    1   11305   37174
2                    1   11557   34173
3                    1    8717   12986
4                    1   33114   12716
..                 ...     ...     ...
96                   1   18913     265
97                   1   11595     264
98                   1    6829     263
99                   1   24092     258
100                  2   30574   24549

[101 rows x 3 columns]

In [170]:
goodtags

       tag_id                        tag_name
0           0                               -
1           1                            --1-
2           2                           --10-
3           3                           --12-
4           4                          --122-
...       ...                             ...
34247   34247                     ï¼£hildrens
34248   34248     ï¼¦ï½ï½ï½ï½ï½ï½ï½
ï½
34249   34249                 ï¼­ï½ï½ï½ï½
34250   34250              ï¼³ï¼¥ï¼²ï¼©ï¼¥ï¼³
34251   34251  ï½ï½ï½ï½ï½ï½ï½ï½ï½
ï½

[34252 rows x 2 columns]

In [185]:
good_toread

        user_id  book_id
0             1      112
1             1      235
2             1      533
3             1     1198
4             1     1874
...         ...      ...
912700    53424     4716
912701    53424     4844
912702    53424     5907
912703    53424     7569
912704    53424     8859

[912705 rows x 2 columns]

In [187]:
goodbooks

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPrÃ©",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,7130616,7130616,7392860,19,441019455,9.780441e+12,Ilona Andrews,2010.0,Bayou Moon,...,17204,18856,1180,105,575,3538,7860,6778,https://images.gr-assets.com/books/1307445460m...,https://images.gr-assets.com/books/1307445460s...
9996,9997,208324,208324,1084709,19,067973371X,9.780680e+12,Robert A. Caro,1990.0,Means of Ascent,...,12582,12952,395,303,551,1737,3389,6972,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...
9997,9998,77431,77431,2393986,60,039330762X,9.780393e+12,Patrick O'Brian,1977.0,The Mauritius Command,...,9421,10733,374,11,111,1191,4240,5180,https://images.gr-assets.com/books/1455373531m...,https://images.gr-assets.com/books/1455373531s...
9998,9999,8565083,8565083,13433613,7,61711527,9.780062e+12,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,...,11279,11994,1988,275,1002,3765,4577,2375,https://images.gr-assets.com/books/1279214118m...,https://images.gr-assets.com/books/1279214118s...
9999,10000,8914,8914,11817,31,375700455,9.780376e+12,John Keegan,1998.0,The First World War,...,9162,9700,364,117,345,2031,4138,3069,https://images.gr-assets.com/books/1403194704m...,https://images.gr-assets.com/books/1403194704s...

In [188]:
goodbooks_tags

        goodreads_book_id  tag_id   count
0                       1   30574  167697
1                       1   11305   37174
2                       1   11557   34173
3                       1    8717   12986
4                       1   33114   12716
...                   ...     ...     ...
999907           33288638   21303       7
999908           33288638   17271       7
999909           33288638    1126       7
999910           33288638   11478       7
999911           33288638   27939       7

[999912 rows x 3 columns]

In [192]:
filtered_df = goodbooks[goodbooks['book_id'] == 1207904]

# Extract the book IDs with tag ID 9
book_ids_with_tag_9 = filtered_df['original_title'].unique()

print("Book IDs with tag ID 9:", book_ids_with_tag_9)

Book IDs with tag ID 9: ['Clapton: The Autobiography']

### 2.3 Merging the Books and Ratings tables

In [50]:
new_goodbooks.head()

,id,BookID,Author,Year,Title,Avgrating,ratings_count
0,1,2767052,Suzanne Collins,2008,The Hunger Games,4.34,4780653
1,2,3,"J.K. Rowling, Mary GrandPrÃ©",1997,Harry Potter and the Philosopher's Stone,4.44,4602479
2,3,41865,Stephenie Meyer,2005,Twilight,3.57,3866839
3,4,2657,Harper Lee,1960,To Kill a Mockingbird,4.25,3198671
4,5,4671,F. Scott Fitzgerald,1925,The Great Gatsby,3.89,2683664

In [51]:
user_rate = user_rate.rename(columns={"BookID":"id"})
user_rate.head()

   id  UserID  Mean Rating
0   1     314            4
1   2    1169            4
2   3     314            3
3   4     439            4
4   5     314            4

In [53]:
gbx = pd.merge(new_goodbooks, user_rate, on='id')
gbx.head()

,id,BookID,Author,Year,Title,Avgrating,ratings_count,UserID,Mean Rating
0,1,2767052,Suzanne Collins,2008,The Hunger Games,4.34,4780653,314,4
1,2,3,"J.K. Rowling, Mary GrandPrÃ©",1997,Harry Potter and the Philosopher's Stone,4.44,4602479,1169,4
2,3,41865,Stephenie Meyer,2005,Twilight,3.57,3866839,314,3
3,4,2657,Harper Lee,1960,To Kill a Mockingbird,4.25,3198671,439,4
4,5,4671,F. Scott Fitzgerald,1925,The Great Gatsby,3.89,2683664,314,4

In [172]:
gbx.shape

(9415, 8)

In [55]:
import nltk #using the nltk library for tokenization and lemmatization
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/sanjeevani1109/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/sanjeevani1109/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     /Users/sanjeevani1109/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/sanjeevani1109/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [56]:
#importing necessary libraries
import string
import re
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer

In [57]:
#Function to clean text data
def clean_text(text):
    text = text.lower()     #Converting the text to lowercase
    text = re.sub(r'\d+', ' ', text)    # Removing digits
    text = re.sub(r'[^a-zA-Z\s]', '', text)  # Removing special characters
    text = text.translate(str.maketrans('', '', string.punctuation))    #Removing punctuation     
    tokens = word_tokenize(text) #Tokenization of the text
    non_stopwords = []  #Creating an empty list to store the non-stopwords
    stop_words = set(stopwords.words('english')) #Initializing the NLTK English stopwords
    #Lemmatization of the words/tokens
    lemmatizer = WordNetLemmatizer()    #Initialization of the NLTK WordNet Lemmatizer

    #Iterating through the list of tokens, lemmatizing them, and adding it to the list of non-stopwords
    for token in tokens:
        if token not in stop_words:
            lemma = lemmatizer.lemmatize(token) #Performing lemmatization
            non_stopwords.append(lemma)  # Appending the stemmed token back to the list of non-stopwords

    # Joining the tokens/words from the list of non-stopwords into a string
    filtered_text = ' '.join(non_stopwords)
    return filtered_text

### Cleaning 'Title' columns

In [58]:
# Applying the text_clean function to the 'Title' column of the first data frame 'bx' i.e., the Book Crossing dataset's final data frame
bx['cleaned_title'] = bx['Title'].apply(clean_text)

In [59]:
print("First DataFrame - bx:")
print(bx[['Title', 'cleaned_title']].head())

First DataFrame - bx:
                                               Title  \
0                                Classical Mythology
1                                       Clara Callan
2                               Decision in Normandy
3  Flu: The Story of the Great Influenza Pandemic...
4                             The Mummies of Urumchi

                                       cleaned_title
0                                classical mythology
1                                       clara callan
2                                  decision normandy
3  flu story great influenza pandemic search viru...
4                                      mummy urumchi

In [60]:
# Applying the text_clean function to the 'Title' column of the second data frame 'gbx' i.e., the Goodbooks-10k dataset's final data frame
gbx['cleaned_title'] = gbx['Title'].apply(clean_text)

In [61]:
print("\nSecond DataFrame - gbx:")
print(gbx[['Title', 'cleaned_title']].head())

Second DataFrame - gbx:
                                      Title                   cleaned_title
0                          The Hunger Games                     hunger game
1  Harry Potter and the Philosopher's Stone  harry potter philosopher stone
2                                  Twilight                        twilight
3                     To Kill a Mockingbird                kill mockingbird
4                          The Great Gatsby                    great gatsby

### Cleaning 'Author' columns

In [62]:
# Applying the clean_text function to the 'Author' column of the first data frame 'bx'
bx['cleaned_author'] = bx['Author'].apply(clean_text)

In [63]:
print("First DataFrame - bx:")
print(bx[['Author', 'cleaned_author']].head())

First DataFrame - bx:
                 Author        cleaned_author
0    Mark P. O. Morford        mark p morford
1  Richard Bruce Wright  richard bruce wright
2          Carlo D'Este           carlo deste
3      Gina Bari Kolata      gina bari kolata
4       E. J. W. Barber          e j w barber

In [64]:
# Applying the clean_text function to the 'Author' column of the second data frame 'gbx'
gbx['cleaned_author'] = gbx['Author'].apply(clean_text)

In [65]:
print("\nSecond DataFrame - gbx:")
print(gbx[['Author', 'cleaned_author']].head())

Second DataFrame - gbx:
                         Author           cleaned_author
0               Suzanne Collins          suzanne collins
1  J.K. Rowling, Mary GrandPrÃ©  jk rowling mary grandpr
2               Stephenie Meyer          stephenie meyer
3                    Harper Lee               harper lee
4           F. Scott Fitzgerald       f scott fitzgerald

In [66]:
bxcolumns_to_copy = ['ISBN', 'Publisher', 'BookRating']
bx.drop(columns=bxcolumns_to_copy, inplace=True)
bx.head()

,Title,Author,Year,UserID,Scaled Rating,cleaned_title,cleaned_author
0,Classical Mythology,Mark P. O. Morford,2002,2,1,classical mythology,mark p morford
1,Clara Callan,Richard Bruce Wright,2001,8,3,clara callan,richard bruce wright
2,Decision in Normandy,Carlo D'Este,1991,8,3,decision normandy,carlo deste
3,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,8,3,flu story great influenza pandemic search viru...,gina bari kolata
4,The Mummies of Urumchi,E. J. W. Barber,1999,8,1,mummy urumchi,e j w barber

In [67]:
gbxcolumns_to_copy = ['id', 'BookID', 'Avgrating', 'ratings_count']
gbx.drop(columns=gbxcolumns_to_copy, inplace=True)
gbx = gbx.rename(columns={'Mean Rating': 'Scaled Rating'})
gbx.head()

,Author,Year,Title,UserID,Scaled Rating,cleaned_title,cleaned_author
0,Suzanne Collins,2008,The Hunger Games,314,4,hunger game,suzanne collins
1,"J.K. Rowling, Mary GrandPrÃ©",1997,Harry Potter and the Philosopher's Stone,1169,4,harry potter philosopher stone,jk rowling mary grandpr
2,Stephenie Meyer,2005,Twilight,314,3,twilight,stephenie meyer
3,Harper Lee,1960,To Kill a Mockingbird,439,4,kill mockingbird,harper lee
4,F. Scott Fitzgerald,1925,The Great Gatsby,314,4,great gatsby,f scott fitzgerald

## Content-based Model

In [68]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [71]:
import numpy as np
import pandas as pd
import re
import string
import random
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.model_selection import KFold

# Ensure nltk data is downloaded (stopwords, punkt, wordnet)
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package punkt to
[nltk_data]     /Users/sanjeevani1109/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/sanjeevani1109/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     /Users/sanjeevani1109/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [70]:
def prepare_tfidf(df):
    # Combine title and author after cleaning for more context
    df['combined'] = df['cleaned_title'] + " " + df['cleaned_author']    
    tfidf_vectorizer = TfidfVectorizer(max_features=500, stop_words='english')
    tfidf_matrix = tfidf_vectorizer.fit_transform(df['combined'])
    return tfidf_matrix, tfidf_vectorizer

In [157]:
def generate_content_recommendations(df, query, top_k=5, similarity_threshold=0.1):

    tfidf_matrix, tfidf_vectorizer = prepare_tfidf(df)
    
    #transforming the cleaned query to match TF-IDF dimensions
    query_vector = tfidf_vectorizer.transform([clean_text(query)])
    
    #computing cosine similarity
    cosine_sim = cosine_similarity(query_vector, tfidf_matrix).flatten()

    # Sorting items based on similarity scores, but only consider those above the threshold
    above_threshold_indices = np.where(cosine_sim >= similarity_threshold)[0]

    top_indices = np.argsort(cosine_sim[above_threshold_indices]) # Fetch more items for diversity
    
    #fetch more items for diversity
    random_selection = random.choices(top_indices, k=(len(top_indices) % top_k**3))
    
    # #fetching top indices 
    # top_indices = np.argsort(cosine_sim)[-top_k*10:]  #fetch more items for diversity (*10)
    
    seen = set()
    unique_recommendations = []
    for index in random_selection:
        actual_index = above_threshold_indices[index]
        title_author = (df.iloc[actual_index]['Title'].lower(), df.iloc[actual_index]['Author'].lower(), df.iloc[actual_index]['Year'])

        same_as_query = df.iloc[actual_index]['Title'].lower() == query.lower()            

        if title_author not in seen and not same_as_query:
            seen.add(title_author)
            unique_recommendations.append(actual_index)

        # Continue adding until we truly have top_k unique or exhaust the list
        if len(unique_recommendations) == top_k or len(seen) == len(top_indices):
            break
    
    recommendations = df.iloc[unique_recommendations][['Title', 'Author', 'Year']]
    if recommendations.empty:
        return recommendations, "No unique recommendations found."
    else:
        return recommendations, "Success!"

    # return recommendations  # Return recommendations in descending order of similarity

In [107]:
query_title = "sylvia plath"
recommended_titles = generate_content_recommendations(gbx, query_title, top_k=5)
print(recommended_titles)

(Empty DataFrame
Columns: []
Index: [], 'No unique recommendations found.')

## Collaborative-filtering Model (memory-based item-similarity approach)

In [81]:
#combining the cleaned_title and cleaned_author columns to form a new column 
bx['combined'] = bx['cleaned_title'] + ' ' + bx['cleaned_author']
gbx['combined'] = gbx['cleaned_title'] + ' ' + gbx['cleaned_author']

In [82]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
import random
from sklearn.feature_extraction.text import TfidfVectorizer
from scipy.sparse import csr_matrix

In [83]:
#Filtering out sparse books and users, then creating a user-item matrix from the filtered dataframe.
def filter_and_create_user_item_matrix(df, min_book_ratings=3, min_user_ratings=3):

    # Filtering out books having less than min_book_ratings
    book_counts = df['combined'].value_counts() #taking 'combined' column to consider every unique possible author&book combination
    books_to_keep = book_counts[book_counts >= min_book_ratings].index
    
    # Filtering out users having less than min_user_ratings
    user_counts = df['UserID'].value_counts()
    users_to_keep = user_counts[user_counts >= min_user_ratings].index
    
    # Filtering the resulting dataframe
    filtered_df = df[df['combined'].isin(books_to_keep) & df['UserID'].isin(users_to_keep)]
    
    # Creating the user-item matrix
    user_item_matrix = filtered_df.pivot_table(index='UserID', columns='combined', values='Scaled Rating', aggfunc='mean').fillna(0)
    
    # Converting to sparse matrix
    user_item_matrix_sparse = csr_matrix(user_item_matrix.values)
    
    return user_item_matrix, user_item_matrix_sparse

In [158]:
def generate_collaborative_recommendations(df, query, top_k=5, similarity_threshold=0.02):
    if 'combined' not in df.columns:
        df['combined'] = df['cleaned_title'] + " " + df['cleaned_author']
    
    cleaned_query = clean_text(query)
    
    matched_books = df[df['combined'].str.contains(cleaned_query, case=False, regex=False)]
    if matched_books.empty:
        return matched_books, "No recommendations found."


    # Use the new function to filter sparse items/users and create the matrix
    user_item_matrix, user_item_matrix_sparse = filter_and_create_user_item_matrix(matched_books, min_book_ratings=1, min_user_ratings=1)
    if user_item_matrix.empty:
        return user_item_matrix, "No recommendations found as user-item matrix is empty after filtering."
    
    if user_item_matrix_sparse.shape[0] == 0 or user_item_matrix_sparse.shape[1] == 0:
        return user_item_matrix_sparse, "No recommendations found as user-item matrix is empty after filtering."

    item_similarity = cosine_similarity(user_item_matrix_sparse.T)

    matched_indices = []
    for book in matched_books['combined']:
        if book in user_item_matrix.columns:
            matched_indices.append(user_item_matrix.columns.get_loc(book))
    if not matched_indices:
        return user_item_matrix, "No recommendations found as no matches found in user-item matrix."


    aggregated_similarities = np.mean(item_similarity[matched_indices], axis=0)
    
    above_threshold_indices = np.where(aggregated_similarities >= similarity_threshold)[0]

    if len(above_threshold_indices) == 0:
        return user_item_matrix, "No recommendations found above the similarity threshold."

    top_indices = np.argsort(aggregated_similarities[above_threshold_indices])[-top_k**3:]  # Fetch more items for diversity
 
    unique_set = set(random.sample(list(top_indices), k=min(len(top_indices), top_k)))
    
    recommended_combined = []
    for i in unique_set:
        recommended_combined.append(user_item_matrix.columns[i])
        
    recommended_titles = df[df['combined'].isin(recommended_combined)][['Title', 'Author', 'Year']].drop_duplicates()

    # Ensure the number of recommendations does not exceed top_k
    if len(recommended_titles) > top_k:
        recommended_titles = recommended_titles.head(top_k)

    if recommended_titles.empty:
        return recommended_combined, "No unique recommendations found."
    else:
        return recommended_titles, "Success!"
    
    # return recommended_titles

In [149]:
query_string = "okok"  
recommended_books = generate_collaborative_recommendations(gbx, query_string, top_k=5)
print(recommended_books)

No recommendations found.

## Hybrid-filtering Recommendation Model

### 1. Switching Hybrid Model

In [141]:
def generate_switching_hybrid_recommendations(df, query, top_k=5, similarity_threshold=0.1):
    # Checking if the query matches enough user interactions for collaborative filtering
    if len(df[df['combined'].str.contains(query, case=False)]) > similarity_threshold:
        return generate_collaborative_recommendations(df, query, top_k, similarity_threshold)
    else: # Else using content based filtering
        return generate_content_recommendations(df, query, top_k, similarity_threshold)

In [142]:
query = "Sylvia Plath"
generate_switching_hybrid_recommendations(gbx, query, top_k=5)

                             Title                        Author  Year
175                   The Bell Jar                  Sylvia Plath  1963
2834                         Ariel                  Sylvia Plath  1965
3271           The Collected Poems      Sylvia Plath, Ted Hughes  1981
7240  The Journals of Sylvia Plath  Sylvia Plath, Karen V. Kukil  1982

### 2. Cascade Hybrid Model

In [151]:
def generate_cascade_hybrid_recommendations(df, query, top_k=5, intermediate_k=10, similarity_threshold=0.1):
    # Generate an intermediate set of recommendations using content-based filtering
    intermediate_recs = generate_content_recommendations(df, query, intermediate_k, similarity_threshold)
    
    # Refine the intermediate set using collaborative filtering
    # For this example, assume collaborative recommendations can accept a list of books
    final_recs = generate_collaborative_recommendations(df, intermediate_recs['Title'].tolist(), top_k, similarity_threshold)
    
    return final_recs

In [153]:
query = "Harry Potter"
generate_cascade_hybrid_recommendations(bx, query, top_k=5, intermediate_k=10)

AttributeError: 'list' object has no attribute 'lower'

## Displaying Recommendations

In [143]:
import ipywidgets as widgets
from IPython.display import display, clear_output

In [159]:
def interactive_recommendation_system(df):
    # Text field input for the query
    query_input = widgets.Text(
        value='',
        placeholder='Type book title or author',
        description='Name:',
        disabled=False
    )
    
    # Dropdown to select the recommendation type
    rec_type = widgets.Dropdown(
        options=['Select', 'Content-Based', 'Collaborative', 'Switching Hybrid'],
        value='Select',
        description='Model:',
    )
    
    # Button to generate recommendations
    generate_button = widgets.Button(description="Generate Recommendations")
    
    # Output widget to display the recommendations
    output = widgets.Output()
    
    def on_generate_button_clicked(b):
        with output:
            clear_output()
            query = query_input.value
            model = rec_type.value
            top_k = 5  # You can modify this to be user-selectable as well
            similarity_threshold = 0.02  # Default threshold, adjust as necessary

            recommendations, message = pd.DataFrame(), ""
            
            if query:  # Check if query is not empty
                if model == 'Content-Based':
                    recommendations, message = generate_content_recommendations(df, query, top_k, similarity_threshold)
                elif model == 'Collaborative':  # Collaborative
                    recommendations, message = generate_collaborative_recommendations(df, query, top_k, similarity_threshold)
                elif model == 'Switching Hybrid': 
                    recommendations, message = generate_switching_hybrid_recommendations(df, query, top_k, similarity_threshold)
                else:
                    print("Please select a valid recommendation model.")
                
                if recommendations.empty:
                    print(message)
                else:
                    display(recommendations)
                # if not recommendations.empty:
                #     display(recommendations)
                # else:
                #     print("No recommendations found.")
            # else:
            #     print("Please enter a query.")

    # def on_generate_button_clicked(b):
    #     with output:
    #         clear_output()
    #         query = query_input.value
    #         top_k = 5  # This can be modified or made user-selectable
    #         similarity_threshold = 0.02  # Adjust as necessary
        
    #         if query:  # Ensure the query is not empty
    #             recommendations, message = None, ""
    #             if rec_type.value == 'Content-Based':
    #                 recommendations, message = generate_content_recommendations(df, query, top_k, similarity_threshold)
    #             elif rec_type.value == 'Collaborative':
    #                 recommendations, message = generate_collaborative_recommendations(df, query, top_k, similarity_threshold)
    #             elif rec_type.value == 'Switching Hybrid':
    #                 # Assuming generate_switching_hybrid_recommendations is defined and returns a tuple
    #                 recommendations, message = generate_switching_hybrid_recommendations(df, query, top_k, similarity_threshold)
            
    #             if recommendations is not None and not recommendations.empty:
    #                 display(recommendations)
    #             else:
    #                 print(message if message else "No recommendations found.")
    #         else:
    #             print("Please enter a query.")

    
    generate_button.on_click(on_generate_button_clicked)
    
    # Display the widgets
    display(query_input, rec_type, generate_button, output)

In [195]:
interactive_recommendation_system(gbx)

Text(value='', description='Name:', placeholder='Type book title or author')

Dropdown(description='Model:', options=('Select', 'Content-Based', 'Collaborative', 'Switching Hybrid'), value…

Button(description='Generate Recommendations', style=ButtonStyle())

Output()

# TRIAL & ERROR (pls chal jaa)

In [200]:
goodbooks

,id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPrÃ©",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,7130616,7130616,7392860,19,441019455,9.780441e+12,Ilona Andrews,2010.0,Bayou Moon,...,17204,18856,1180,105,575,3538,7860,6778,https://images.gr-assets.com/books/1307445460m...,https://images.gr-assets.com/books/1307445460s...
9996,9997,208324,208324,1084709,19,067973371X,9.780680e+12,Robert A. Caro,1990.0,Means of Ascent,...,12582,12952,395,303,551,1737,3389,6972,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...
9997,9998,77431,77431,2393986,60,039330762X,9.780393e+12,Patrick O'Brian,1977.0,The Mauritius Command,...,9421,10733,374,11,111,1191,4240,5180,https://images.gr-assets.com/books/1455373531m...,https://images.gr-assets.com/books/1455373531s...
9998,9999,8565083,8565083,13433613,7,61711527,9.780062e+12,Peggy Orenstein,2011.0,Cinderella Ate My Daughter: Dispatches from th...,...,11279,11994,1988,275,1002,3765,4577,2375,https://images.gr-assets.com/books/1279214118m...,https://images.gr-assets.com/books/1279214118s...
9999,10000,8914,8914,11817,31,375700455,9.780376e+12,John Keegan,1998.0,The First World War,...,9162,9700,364,117,345,2031,4138,3069,https://images.gr-assets.com/books/1403194704m...,https://images.gr-assets.com/books/1403194704s...

In [205]:
import re

def find_invalid_isbns(isbns):
    invalid_isbns = []
    for isbn in isbns:
        # Convert the value to string before processing
        isbn_str = str(isbn)
        
        # Remove hyphens from the ISBN
        cleaned_isbn = ''.join(isbn_str.split('-'))
        
        # Check if the ISBN has 10 or 13 digits
        if len(cleaned_isbn) != 10 and len(cleaned_isbn) != 13:
            invalid_isbns.append(isbn)
            continue
        
        # Check if the ISBN contains only digits or ends with 'X'
        if not re.match(r'^\d{9}[\dX]$', cleaned_isbn[:9]) and not re.match(r'^\d{12}[\dX]$', cleaned_isbn):
            invalid_isbns.append(isbn)
            continue
        
        # Check if the last digit is valid for ISBN-10
        if len(cleaned_isbn) == 10 and cleaned_isbn[-1] != 'X' and int(cleaned_isbn[-1]) != sum((10 - i) * (int(digit) if digit != 'X' else 10) for i, digit in enumerate(cleaned_isbn[:-1])) % 11:
            invalid_isbns.append(isbn)
            continue
        
        # Check if the last digit is valid for ISBN-13
        if len(cleaned_isbn) == 13 and int(cleaned_isbn[-1]) != (10 - sum(int(digit) * (3 if i % 2 else 1) for i, digit in enumerate(cleaned_isbn[:-1]))) % 10:
            invalid_isbns.append(isbn)
            continue
    
    return invalid_isbns

# Example usage:
# Assuming 'df' is your DataFrame and 'ISBN' is the column containing ISBNs
invalid_isbns = find_invalid_isbns(goodbooks['isbn'])
print(invalid_isbns)

['439023483', '439554934', '316015849', '61120081', '743273567', '525478817', '618260307', '316769177', '1416524797', '679783261', '1594480001', '62024035', '451524934', '452284244', '553296981', '307269752', '439023491', '043965548X', '618346252', '439023513', '439358078', '316166685', '439064864', '439139600', '545010225', '307277674', '439785960', '140283331', '743477111', '297859382', '399155341', '142000671', '739326228', '1612130291', '61122416', '385732554', '60764899', '965818675', '553588486', '143038419', '786838655', '451529308', '142437204', '553816713', '770430074', '1565125606', '375831002', '307347974', '316160199', '60513039', '1416914285', '316160202', '375826696', '345391802', '60929871', '031606792X', '142001740', '142437174', '64410935', '1400032717', '1594633665', '679879242', '393978893', '743454537', '385333846', '446675539', '1594489505', '671027344', '7442912', '812550706', '141439475', '450040186', '316068047', '142402516', '014028009X', '141439661', '439244196', '307275558', '143039954', '156012197', '074324754X', '385486804', '141439602', '030734813X', '60256656', '385338600', '374500010', '014241493X', '345418263', '014038572X', '385737947', '61234001', '517189607', '60531045', '375751513', '345803507', '393970124', '307269981', '1612130585', '60786507', '349113912', '99408392', '140449264', '307265439', '7524277', nan, '446693804', '440241413', '451525264', '553381695', '143037145', '670026603', '684833395', '751529818', '312422156', '143039563', '440498058', '143038095', '038549081X', '385729332', nan, '60987103', '582418275', '316098337', '521618746', '340839937', '316346624', '1451648537', '451163966', '684830493', '142000663', '1401308589', '451528824', '1416914307', '055357342X', '006075995X', '440242940', '142437263', '1594744769', '030726999X', '804139024', '451207149', '1476746583', '1400064163', '671027387', '316055433', '1595141715', '452287022', '525421033', '312353766', '786856866', '446528056', '1416914293', '743477103', '618346260', '031232118X', '394800168', '142403881', '1423101464', '192833596', '345339738', nan, '142311339X', '1250012570', '055358202X', '525423648', '747263744', '385199570', '446547565', '552151696', '141439580', '345803922', '393312836', '964729237', '739380338', '451169514', '143058142', '61148512', '7205236', '553208845', '679745580', '316042676', '1416975861', '141301066', '385534639', '743227441', '689865384', nan, '618640150', '307592731', '930289234', '075640407X', '316017922', '142437247', '385340990', '393327345', '441008534', '671727796', '739461192', '312330871', '385504225', '1416989412', nan, '1561797464', '345476875', '62059939', '312362080', '1400052173', '99446782', '159514174X', '316010669', '038572179X', '553213695', '141382899', '030788743X', '1554681723', '739303406', '425263908', '66238501', '316043133', '1558743669', '752864327', '786817879', '385738935', '142000655', '307341569', '385339089', '312291639', '451527747', '192802631', '312370830', '452284694', '140003468X', '014131088X', '399159347', '385494785', '1416524304', '031242227X', '307346609', '385537859', '440227534', '446692638', '450417395', '307341542', '439366771', '312360266', '743269519', '743477545', '618711651', '375869026', '039480001X', '312641893', '316206849', '545123267', '452011876', '143038257', '517223627', '143034901', '385738757', nan, '767900383', '399167064', '590920685', '743297334', '61120073', '446677388', '312577222', '1400078776', '786890754', '1844080382', '156030306', '552995878', '812968069', '451205766', '525476881', '553803719', '62255657', '60513063', '751565350', '61726834', '385339704', '61139378', '60853980', '140042598', '1476729085', '446579939', '451191153', '425172902', '038039586X', '307886263', '375414495', '006112527X', '753453800', '1423140591', '1451627289', '241003008', '140285601', '451528557', '849946158', '385751060', '1892295490', '044654759X', '1582701709', '60987561', '1416524347', '671021001', '756404738', '440241901', '1442403543', '743418174', '380018179', '60530928', '1451681739', '439709105', '91883768', '307279464', '553279378', '61950726', '1442416866', '316204277', '375806814', '60557818', '571224385', nan, '552135399', '316182540', '039925675X', '743496728', '1401323251', '812511816', '61150142', '60764902', '595440096', '425263916', '375814248', '446696617', '345453743', '340896965', '60775858', '61969559', '140275363', '316228532', '385339690', '316777730', '375840400', '140621679', '000720230X', nan, '450031063', '679785892', '1416975888', '62268341', '743477553', '1400033411', '015206396X', '439206472', '449213943', '679805273', '159463176X', '345404475', '141439742', '60652896', '525423273', '7173040', '1401207928', '743223136', '553384287', '679879250', '439488400', '1423113381', '441788386', '965904830', '141311371', '076790818X', '439227143', '385738773', '61142026', '618485228', '670022411', '375704027', '446672211', '525421580', '307276902', '1595141758', '307352145', '440439884', '142437336', '689840926', '076531178X', '451528956', '679889108', '810993139', '1599906953', '1595141979', '684803356', '345505336', '140120831', '60838582', '747599874', '441569595', '99910101', '553212281', '1590302257', '385344228', '385334206', '874774241', '60838728', '739467352', '375508414', '385474547', '385338694', '1881273156', nan, '1416589643', '031253275X', '590032496', '743298020', '1595142509', '1595141987', '446676071', '345521307', '545044251', '62059963', '156001314', '1416914633', '802130208', '158049580X', '1423140605', '60855924', '1400079276', '525945563', '553803700', '451216954', '1416989439', '61726818', '679457313', '670024783', '141043768', '553380168', '525951652', '1439148503', '553380958', '670061050', '525467564', '62060554', '1420925539', '375826726', '310276993', '312360282', '451457811', '1593082649', '399162410', '802142842', '60245867', '312323867', '822210894', '751537284', '385353308', '1476738017', '1406321346', '1416500189', '140135154', '385335970', nan, '743495667', '345368584', '1594489580', '61120065', '439321603', '316322407', '141439807', '080701429X', '670038601', '618680004', '525422943', '345915593', '515141429', '375757325', '937832383', '440238153', '765346524', '1439153663', '316769029', '385720920', '374528373', '375822747', '60541814', '451933028', '000100039X', '394541553', '312379838', '812550757', '684823780', '1400031702', '375725784', '553381679', '439228905', '192833987', '679735771', '613371658', '1400034779', '1582406723', '451457994', '1590525132', '842342702', '62059998', '545265355', '805063897', '593053893', '812517725', '743477154', '385074077', '553256696', '192835084', '553381547', '312282990', '802798233', '805072454', '689865392', '965341984', '739465511', '375507256', '767902890', '1844137872', '006197806X', '307277887', '1841493007', '765305119', '141439491', '743482751', '393320979', '1401207529', '62409859', '316143472', '316134023', '1409151174', '1400069289', '679751521', '1301949825', '142437018', '142406252', '439861365', '1595143068', '64400026', '380002558', '60589469', '375759239', '60887303', '670241334', '1594200823', '316176486', '446696129', '045057458X', '385335997', '393315053', '307348245', '747560595', '441012183', '141439599', '192840398', '394820371', '765326353', '1841493015', '078685197X', '765316889', nan, '034552554X', '156389341X', '446617792', '1573225517', '446696110', '385721676', '60574216', '60899220', '99244721', '486266893', '374480095', '2253147699', '1713221', '071483355X', '312642962', '751532711', '1442426640', '670020559', '1421501686', '689875347', '60529709', '752863886', '425266745', '140439447', '316013684', '679760806', '553383043', '763616052', '743253973', '385339607', '142437239', '6480098', '345418921', '385739141', '723247706', '64405044', '765316897', '679746048', '61173398', '743278909', '1481426303', '920668372', '1416524517', '067002581X', '618391118', '451210859', '330449605', '99428644', '142501557', '743275012', '385523386', '451528018', '374275637', '345350499', '689841582', '446612707', '1476754454', '441014941', '375706771', '395389496', '140544518', '425134350', '61124265', '385349947', '441013333', '62085484', '441783589', '385342063', '1857993284', '316134112', '553278223', '307592839', '753454947', '61015725', '7202326', '525950079', '312360304', nan, '60874163', '140424385', '312348649', '375856110', '307593312', '1840224029', '60809248', '441014917', '156007754', '374158460', '142421715', '1423100034', '1416562591', '1841156736', '1921351438', '60541830', '689711735', '618101365', '60838655', '679745653', '345504968', '60515198', '670011940', '159420571X', '553383809', '451155750', '646418432', '425200450', '307271080', '446611085', '451167805', '425263924', '307266303', '1616203218', '590133373', '1585424331', '60885378', '765356155', '446696137', '1423146727', '61448761', '446615862', '743226720', '330419129', '61928127', '307237699', '743455967', '312364083', '345418972', '312348673', '316206873', '345476883', '62049801', '374533571', '076072850X', '743272498', '151009988', '1843913720', '067102423X', '786226749', '451190750', '014044906X', '60739495', '60589280', '316767727', '031610969X', '1416912045', '385335989', '399256768', '074348276X', '435233076', '446579920', '545422906', nan, '452287588', '1591164419', '1451666179', '812513738', '192076920X', '441015891', '670032565', '451188454', '375408266', '805047905', '553283685', '142000698', '61007226', '031612558X', '067976402X', '440174643', '930289455', '679732764', '374105235', '689862202', '751514624', '60529962', '143035479', nan, '380813815', '1577314808', '399159010', '553804677', '64471837', '441017150', '1439102767', '1620610078', '345418905', '1619630621', '1932664084', '1416586288', '61020680', '373210086', '067168390X', '393324826', '1595143173', '765342405', '385342020', '340606517', '452287065', '1416563687', '345350685', '1563892278', '345465083', '038073186X', '553328255', '198320272', '307408841', '140449140', '074347757X', '312642970', '006621131X', '714836257', '767905180', '451527887', '140003065X', '836220889', '689865406', '543898083', '031237982X', '1401303277', '425144372', '60513098', '61992704', '2020336464', '553803727', '1878424505', '743296435', '394709306', '744583276', '1476727651', '140285679', nan, '1434768511', '7173687', nan, '553213873', '052595127X', '446563080', '1591826039', '743482832', '1905654944', '340829788', '385351399', '439813786', '60776099', '1591169151', '778316556', nan, '1250049377', '1905654588', '375706674', '7230206', '006441034X', '2226131906', '691096120', '571225381', '446547654', '224094157', '312938993', '1580495931', '1400067111', '143039091', nan, '037571457X', '1420925431', '316084239', '067001088X', '399151575', '385339666', nan, '1569319006', '812993292', '307931889', '312861877', '743477561', '440178002', '451219368', '1619634449', '345803574', '068983568X', '545132053', '151010269', '140286276', '345457374', '60288140', '374214913', '743496310', nan, '590452037', '99285444', '743482778', '385732562', '014240120X', '345539788', '316033677', '812474945', '1476712980', '765326361', '076360013X', '440221668', '450042685', '1400064562', '393328627', '142402494', '1933372605', '743270754', '441018645', '679720219', '439206480', '145162137X', '61214655', '039515023X', '525457585', '571212921', '1884365302', '61662690', '684853949', '006074815X', '1860498809', '1594747350', '375727345', '356500152', '067973225X', '747532036', '451218043', '553803735', '451458125', '316204366', '1591169208', '61020648', '1400078431', '006112429X', '1857231589', '345419626', '159308143X', '199291152', '142001430', '446612731', '452281253', '1936305623', '689707495', '1400068932', '425227510', '074349671X', '1423140567', '765348276', '831727527', '140255559', '684818701', '60510862', '8497597729', '812971060', '575079797', '786851473', '743225422', '1607747308', '385755880', '671011367', '552562521', '374203059', '61120251', '1476789630', '689865198', '545424925', '031286504X', '140006208X', '081299499X', '66620996', '803734611', nan, '439236193', '141651693X', '440238609', '1480095532', '006222543X', '525426582', '312305060', '1623420024', '316191299', '451188462', '385739168', '385742886', '144477851X', '375726403', '1857232097', '803734964', '009928264X', '385338708', '1416524525', '316070521', '440241812', '393316041', '545123283', '553609416', '142437344', '765302306', '451529170', nan, '385339100', '345538374', '146109111X', '446350982', '045052468X', '316001929', '374292795', '385743564', '1558580093', '553213970', '61583251', '679740678', '393322238', '793551617', '812970063', '670023485', '345544927', '441013813', '786838922', '812976142', '812993543', '140424393', '393072231', '1416524290', '1406311529', '765325942', '553266306', '307463745', '525951989', '739352350', '679644199', '312965788', nan, '312966091', '1576469239', '037582913X', '425193799', '805094598', '770437850', '399256776', '2266079999', '525423281', '375703861', '62107062', '1582346186', '61974552', '1594488398', '836218051', '067001821X', '1439152802', '696215322', '330491237', '140282580', '055381706X', '670026611', '6480101', '345347951', '763625299', '60852550', '1619630656', '812513754', '385342306', '785263705', '385340397', '1484724917', '1250069793', '1607066017', '316126691', '99285045', '1590385810', '64407683', '451458443', '743264738', '1476717486', '385339097', '014034893X', '1594743347', '316154695', '679642420', '671746723', '810994739', '804138141', '62285688', '1594206279', '61992259', '393050327', '765350378', '1406310255', '312199430', '743296419', '1416521496', '525423664', '99578514', '1400049628', '440234743', '1579126251', '1416924981', '1594201455', '440995779', nan, '440241898', '141439610', '316349933', '1416968237', '312966970', '1573225789', '60889578', '385339151', '312857063', '312554168', '141439831', '1857988841', '2266047426', '62414216', '1563899426', '142000280', '446671002', '803736991', '525952926', '385352107', '033041836X', '140679239X', '8129104598', '425197549', '375836675', '141439653', '60855908', '038560310X', '380718340', '385537131', '312650248', '1583485090', '152061548', '713998946', '800759494', '1455520659', '679776192', '312995059', '743496744', '312423799', '446613347', '1101946342', '441172695', '6280560', '1416528636', '517092913', '316075809', nan, '767905202', '553213172', '140047484', '140620192', '1451629184', nan, '752224417', '62014536', '812550285', '192840509', '679728759', '1442426675', '751504386', '99437961', '8129115301', '1421508222', '451458923', '345484266', '618968474', nan, '014100018X', '553116606', '771068719', '1936305550', '192839993', '1400063736', '141321318', '440236703', nan, '1423121309', '761169253', '60512806', '1476730105', '60959037', '452282829', '006097625X', '316077054', '1594485755', '743454553', '330419641', '312976275', '1401322786', '60590270', '393324818', '078681859X', '446580503', '688014291', '553258478', '068484477X', '394758285', '014200068X', '446585025', '439272637', '316175676', nan, '810970686', '679433139', '1405204265', '1620610116', '62085530', '812968972', nan, '385354282', '081299860X', '1582349908', '60584750', '99549344', '451528352', '340837942', '670021458', '330371231', '1781162646', '1612620248', '068480154X', '038531258X', '811214044', '1609450787', '307353133', '62515675', '670022691', '575077026', '399254129', '689818769', '810983915', '62065246', nan, '006223742X', '385539258', '1563899809', '765330423', nan, '345452003', '1442408928', '451528522', nan, '61122092', '1402726023', '450542882', '1937044963', '553213148', '448405202', '399162097', '765304740', '679722769', '142401773', '312304358', '99471426', '1581345283', nan, '1594634475', '440243750', '64400565', '380508567', '375708111', '64408639', '312980140', '61662763', '451459407', '152802177', '575077883', '345494997', '312983867', '60566221', '446359408', '375508325', '1400032822', '051722285X', '1932416641', '140003471X', '582416396', '805093079', '307265749', '142406635', '067001110X', '385339674', '553565699', '451194004', '375507779', '812550293', '140042520', '1841497126', '1400067553', '152058109', '553804685', '679734775', '670018708', '61245089', '141318309', '60278250', '446612545', '751504572', '441104029', '1841499889', '1619636042', '679729771', '140501827', '747267634', '312554192', '385495226', '99448475', '670024856', '1592402038', '60572965', '399231900', '752898477', '61996165', '310226058', '812577566', '440421705', '679729526', '1594487367', '307265838', '553375407', '1416995552', '373210493', '439321611', '395401461', '451196716', '60566213', '385732538', '451412354', '385516487', '316057770', '446579807', '1301627445', '61015733', '316122386', '786836547', '184243022X', '156031663', '385340540', '1595143971', '671250671', '451459873', '807508527', '143123238', '91940737', nan, '297854399', '676979343', '316601950', '140283307', '743464117', '785819118', '1891830430', '61374229', '345439104', '876850867', '679744398', '1593082045', '1569319014', '451450523', '60577312', '689848919', '670018864', '307408868', '812504690', '1439177724', '872863107', '073380084X', '1617750255', '345418778', '074325807X', '385343833', '778324338', '451222350', '60502932', '967686563', '451223292', '045146091X', '345539826', '055215430X', '61020702', '316078573', '62430874', '575077905', '1476770387', '679800034', '393330478', '60590165', '316155594', '316080845', '312642989', '141439734', '545457823', '345503805', '486426750', '440241022', '1423140575', '1416552510', '330448447', '081257558X', '451461037', '451529553', '618084746', nan, '441627404', '552152978', '385323069', '618477942', '006135323X', nan, '7148984', '765325950', '1419701762', '810984911', '312990227', '60839783', '446696633', '141014083', '142001805', '345373944', '747571775', '1573221112', '1400065674', '385333137', '62003933', '385339682', '1400032814', '312985347', '439554004', '743236017', '316926345', '451461401', '62306812', '786915749', '786849568', '1416951172', '399244557', '670025593', '1585421464', '067084487X', '61147958', '679456724', '385528779', '312364121', '385339658', '316067598', nan, '1579126278', '006083756X', '316033650', '1907411054', '044669651X', '307887898', '1595143181', '743290119', '345335457', '785136207', '671728687', '1594481938', '439706408', '340640146', '515142247', '316123528', '60878061', '61147931', '1419702238', '316033669', '1416543007', '1862301387', '140447571', '1501132938', '553213296', '679736379', '044024191X', '373210132', '1576737330', '812983602', '786868724', '1400043468', '1922182109', '9380658797', '006117758X', '375825444', '974320625', '670035386', '765354942', '380727501', '451461894', '1607060760', '1599900734', '553496646', '486282228', '62124269', '1590388984', '140298479', '067976397X', '446698466', '767903862', '192123092', '812992792', '345300785', '375714839', '449213447', '451171357', '385528701', '786891084', '64441555', nan, '765326264', '1595148035', '451222725', '62110837', nan, '64410137', '143037617', '64431436', '044101268X', '689878559', '224085611', '1439199353', '451225856', '553288202', '446698873', '688120490', '743246985', '394800206', '60885408', '1501100130', '61558230', '316184136', '60935472', '1416553649', '60899190', '7119550', '152047379', '340818670', '345544951', '037571894X', '743246071', '316133973', '1842430351', '399244573', '1423157370', '60832819', '1416560610', '1846558913', '1844082938', '345501330', '756410436', nan, '451229851', '141001828', '743289684', '1400063515', '345504984', '374529523', '553380966', '60892994', '1580493882', '1439138311', '1442409053', '62300547', '312864590', '1580495869', '544272994', '765348780', '7251866', '440401585', '043977134X', '1439102724', '345419634', '446615625', '316155608', '812551478', '743272501', '385683421', '385542364', '786838930', '373210183', '988393506', '385535144', '143036378', '525444440', '316075558', '143036696', '64440206', '64410129', '14

In [206]:
import re

def find_invalid_isbns(isbns):
    invalid_isbns = []
    invalid_indices = []
    
    for idx, isbn in enumerate(isbns):
        # Convert the value to string before processing
        isbn_str = str(isbn)
        
        # Remove hyphens from the ISBN
        cleaned_isbn = ''.join(isbn_str.split('-'))
        
        # Check if the ISBN has 10 or 13 digits
        if len(cleaned_isbn) != 10 and len(cleaned_isbn) != 13:
            invalid_isbns.append(isbn)
            invalid_indices.append(idx)
            continue
        
        # Check if the ISBN contains only digits or ends with 'X'
        if not re.match(r'^\d{9}[\dX]$', cleaned_isbn[:9]) and not re.match(r'^\d{12}[\dX]$', cleaned_isbn):
            invalid_isbns.append(isbn)
            invalid_indices.append(idx)
            continue
        
        # Check if the last digit is valid for ISBN-10
        if len(cleaned_isbn) == 10 and cleaned_isbn[-1] != 'X' and int(cleaned_isbn[-1]) != sum((10 - i) * (int(digit) if digit != 'X' else 10) for i, digit in enumerate(cleaned_isbn[:-1])) % 11:
            invalid_isbns.append(isbn)
            invalid_indices.append(idx)
            continue
        
        # Check if the last digit is valid for ISBN-13
        if len(cleaned_isbn) == 13 and int(cleaned_isbn[-1]) != (10 - sum(int(digit) * (3 if i % 2 else 1) for i, digit in enumerate(cleaned_isbn[:-1]))) % 10:
            invalid_isbns.append(isbn)
            invalid_indices.append(idx)
            continue
    
    return invalid_isbns, invalid_indices

# Example usage:
# Assuming 'df' is your DataFrame and 'ISBN' is the column containing ISBNs
invalid_isbns, invalid_indices = find_invalid_isbns(goodbooks['isbn'])
print("Invalid ISBNs:", invalid_isbns)
print("Invalid indices:", invalid_indices)

Invalid ISBNs: ['439023483', '439554934', '316015849', '61120081', '743273567', '525478817', '618260307', '316769177', '1416524797', '679783261', '1594480001', '62024035', '451524934', '452284244', '553296981', '307269752', '439023491', '043965548X', '618346252', '439023513', '439358078', '316166685', '439064864', '439139600', '545010225', '307277674', '439785960', '140283331', '743477111', '297859382', '399155341', '142000671', '739326228', '1612130291', '61122416', '385732554', '60764899', '965818675', '553588486', '143038419', '786838655', '451529308', '142437204', '553816713', '770430074', '1565125606', '375831002', '307347974', '316160199', '60513039', '1416914285', '316160202', '375826696', '345391802', '60929871', '031606792X', '142001740', '142437174', '64410935', '1400032717', '1594633665', '679879242', '393978893', '743454537', '385333846', '446675539', '1594489505', '671027344', '7442912', '812550706', '141439475', '450040186', '316068047', '142402516', '014028009X', '141439661', '439244196', '307275558', '143039954', '156012197', '074324754X', '385486804', '141439602', '030734813X', '60256656', '385338600', '374500010', '014241493X', '345418263', '014038572X', '385737947', '61234001', '517189607', '60531045', '375751513', '345803507', '393970124', '307269981', '1612130585', '60786507', '349113912', '99408392', '140449264', '307265439', '7524277', nan, '446693804', '440241413', '451525264', '553381695', '143037145', '670026603', '684833395', '751529818', '312422156', '143039563', '440498058', '143038095', '038549081X', '385729332', nan, '60987103', '582418275', '316098337', '521618746', '340839937', '316346624', '1451648537', '451163966', '684830493', '142000663', '1401308589', '451528824', '1416914307', '055357342X', '006075995X', '440242940', '142437263', '1594744769', '030726999X', '804139024', '451207149', '1476746583', '1400064163', '671027387', '316055433', '1595141715', '452287022', '525421033', '312353766', '786856866', '446528056', '1416914293', '743477103', '618346260', '031232118X', '394800168', '142403881', '1423101464', '192833596', '345339738', nan, '142311339X', '1250012570', '055358202X', '525423648', '747263744', '385199570', '446547565', '552151696', '141439580', '345803922', '393312836', '964729237', '739380338', '451169514', '143058142', '61148512', '7205236', '553208845', '679745580', '316042676', '1416975861', '141301066', '385534639', '743227441', '689865384', nan, '618640150', '307592731', '930289234', '075640407X', '316017922', '142437247', '385340990', '393327345', '441008534', '671727796', '739461192', '312330871', '385504225', '1416989412', nan, '1561797464', '345476875', '62059939', '312362080', '1400052173', '99446782', '159514174X', '316010669', '038572179X', '553213695', '141382899', '030788743X', '1554681723', '739303406', '425263908', '66238501', '316043133', '1558743669', '752864327', '786817879', '385738935', '142000655', '307341569', '385339089', '312291639', '451527747', '192802631', '312370830', '452284694', '140003468X', '014131088X', '399159347', '385494785', '1416524304', '031242227X', '307346609', '385537859', '440227534', '446692638', '450417395', '307341542', '439366771', '312360266', '743269519', '743477545', '618711651', '375869026', '039480001X', '312641893', '316206849', '545123267', '452011876', '143038257', '517223627', '143034901', '385738757', nan, '767900383', '399167064', '590920685', '743297334', '61120073', '446677388', '312577222', '1400078776', '786890754', '1844080382', '156030306', '552995878', '812968069', '451205766', '525476881', '553803719', '62255657', '60513063', '751565350', '61726834', '385339704', '61139378', '60853980', '140042598', '1476729085', '446579939', '451191153', '425172902', '038039586X', '307886263', '375414495', '006112527X', '753453800', '1423140591', '1451627289', '241003008', '140285601', '451528557', '849946158', '385751060', '1892295490', '044654759X', '1582701709', '60987561', '1416524347', '671021001', '756404738', '440241901', '1442403543', '743418174', '380018179', '60530928', '1451681739', '439709105', '91883768', '307279464', '553279378', '61950726', '1442416866', '316204277', '375806814', '60557818', '571224385', nan, '552135399', '316182540', '039925675X', '743496728', '1401323251', '812511816', '61150142', '60764902', '595440096', '425263916', '375814248', '446696617', '345453743', '340896965', '60775858', '61969559', '140275363', '316228532', '385339690', '316777730', '375840400', '140621679', '000720230X', nan, '450031063', '679785892', '1416975888', '62268341', '743477553', '1400033411', '015206396X', '439206472', '449213943', '679805273', '159463176X', '345404475', '141439742', '60652896', '525423273', '7173040', '1401207928', '743223136', '553384287', '679879250', '439488400', '1423113381', '441788386', '965904830', '141311371', '076790818X', '439227143', '385738773', '61142026', '618485228', '670022411', '375704027', '446672211', '525421580', '307276902', '1595141758', '307352145', '440439884', '142437336', '689840926', '076531178X', '451528956', '679889108', '810993139', '1599906953', '1595141979', '684803356', '345505336', '140120831', '60838582', '747599874', '441569595', '99910101', '553212281', '1590302257', '385344228', '385334206', '874774241', '60838728', '739467352', '375508414', '385474547', '385338694', '1881273156', nan, '1416589643', '031253275X', '590032496', '743298020', '1595142509', '1595141987', '446676071', '345521307', '545044251', '62059963', '156001314', '1416914633', '802130208', '158049580X', '1423140605', '60855924', '1400079276', '525945563', '553803700', '451216954', '1416989439', '61726818', '679457313', '670024783', '141043768', '553380168', '525951652', '1439148503', '553380958', '670061050', '525467564', '62060554', '1420925539', '375826726', '310276993', '312360282', '451457811', '1593082649', '399162410', '802142842', '60245867', '312323867', '822210894', '751537284', '385353308', '1476738017', '1406321346', '1416500189', '140135154', '385335970', nan, '743495667', '345368584', '1594489580', '61120065', '439321603', '316322407', '141439807', '080701429X', '670038601', '618680004', '525422943', '345915593', '515141429', '375757325', '937832383', '440238153', '765346524', '1439153663', '316769029', '385720920', '374528373', '375822747', '60541814', '451933028', '000100039X', '394541553', '312379838', '812550757', '684823780', '1400031702', '375725784', '553381679', '439228905', '192833987', '679735771', '613371658', '1400034779', '1582406723', '451457994', '1590525132', '842342702', '62059998', '545265355', '805063897', '593053893', '812517725', '743477154', '385074077', '553256696', '192835084', '553381547', '312282990', '802798233', '805072454', '689865392', '965341984', '739465511', '375507256', '767902890', '1844137872', '006197806X', '307277887', '1841493007', '765305119', '141439491', '743482751', '393320979', '1401207529', '62409859', '316143472', '316134023', '1409151174', '1400069289', '679751521', '1301949825', '142437018', '142406252', '439861365', '1595143068', '64400026', '380002558', '60589469', '375759239', '60887303', '670241334', '1594200823', '316176486', '446696129', '045057458X', '385335997', '393315053', '307348245', '747560595', '441012183', '141439599', '192840398', '394820371', '765326353', '1841493015', '078685197X', '765316889', nan, '034552554X', '156389341X', '446617792', '1573225517', '446696110', '385721676', '60574216', '60899220', '99244721', '486266893', '374480095', '2253147699', '1713221', '071483355X', '312642962', '751532711', '1442426640', '670020559', '1421501686', '689875347', '60529709', '752863886', '425266745', '140439447', '316013684', '679760806', '553383043', '763616052', '743253973', '385339607', '142437239', '6480098', '345418921', '385739141', '723247706', '64405044', '765316897', '679746048', '61173398', '743278909', '1481426303', '920668372', '1416524517', '067002581X', '618391118', '451210859', '330449605', '99428644', '142501557', '743275012', '385523386', '451528018', '374275637', '345350499', '689841582', '446612707', '1476754454', '441014941', '375706771', '395389496', '140544518', '425134350', '61124265', '385349947', '441013333', '62085484', '441783589', '385342063', '1857993284', '316134112', '553278223', '307592839', '753454947', '61015725', '7202326', '525950079', '312360304', nan, '60874163', '140424385', '312348649', '375856110', '307593312', '1840224029', '60809248', '441014917', '156007754', '374158460', '142421715', '1423100034', '1416562591', '1841156736', '1921351438', '60541830', '689711735', '618101365', '60838655', '679745653', '345504968', '60515198', '670011940', '159420571X', '553383809', '451155750', '646418432', '425200450', '307271080', '446611085', '451167805', '425263924', '307266303', '1616203218', '590133373', '1585424331', '60885378', '765356155', '446696137', '1423146727', '61448761', '446615862', '743226720', '330419129', '61928127', '307237699', '743455967', '312364083', '345418972', '312348673', '316206873', '345476883', '62049801', '374533571', '076072850X', '743272498', '151009988', '1843913720', '067102423X', '786226749', '451190750', '014044906X', '60739495', '60589280', '316767727', '031610969X', '1416912045', '385335989', '399256768', '074348276X', '435233076', '446579920', '545422906', nan, '452287588', '1591164419', '1451666179', '812513738', '192076920X', '441015891', '670032565', '451188454', '375408266', '805047905', '553283685', '142000698', '61007226', '031612558X', '067976402X', '440174643', '930289455', '679732764', '374105235', '689862202', '751514624', '60529962', '143035479', nan, '380813815', '1577314808', '399159010', '553804677', '64471837', '441017150', '1439102767', '1620610078', '345418905', '1619630621', '1932664084', '1416586288', '61020680', '373210086', '067168390X', '393324826', '1595143173', '765342405', '385342020', '340606517', '452287065', '1416563687', '345350685', '1563892278', '345465083', '038073186X', '553328255', '198320272', '307408841', '140449140', '074347757X', '312642970', '006621131X', '714836257', '767905180', '451527887', '140003065X', '836220889', '689865406', '543898083', '031237982X', '1401303277', '425144372', '60513098', '61992704', '2020336464', '553803727', '1878424505', '743296435', '394709306', '744583276', '1476727651', '140285679', nan, '1434768511', '7173687', nan, '553213873', '052595127X', '446563080', '1591826039', '743482832', '1905654944', '340829788', '385351399', '439813786', '60776099', '1591169151', '778316556', nan, '1250049377', '1905654588', '375706674', '7230206', '006441034X', '2226131906', '691096120', '571225381', '446547654', '224094157', '312938993', '1580495931', '1400067111', '143039091', nan, '037571457X', '1420925431', '316084239', '067001088X', '399151575', '385339666', nan, '1569319006', '812993292', '307931889', '312861877', '743477561', '440178002', '451219368', '1619634449', '345803574', '068983568X', '545132053', '151010269', '140286276', '345457374', '60288140', '374214913', '743496310', nan, '590452037', '99285444', '743482778', '385732562', '014240120X', '345539788', '316033677', '812474945', '1476712980', '765326361', '076360013X', '440221668', '450042685', '1400064562', '393328627', '142402494', '1933372605', '743270754', '441018645', '679720219', '439206480', '145162137X', '61214655', '039515023X', '525457585', '571212921', '1884365302', '61662690', '684853949', '006074815X', '1860498809', '1594747350', '375727345', '356500152', '067973225X', '747532036', '451218043', '553803735', '451458125', '316204366', '1591169208', '61020648', '1400078431', '006112429X', '1857231589', '345419626', '159308143X', '199291152', '142001430', '446612731', '452281253', '1936305623', '689707495', '1400068932', '425227510', '074349671X', '1423140567', '765348276', '831727527', '140255559', '684818701', '60510862', '8497597729', '812971060', '575079797', '786851473', '743225422', '1607747308', '385755880', '671011367', '552562521', '374203059', '61120251', '1476789630', '689865198', '545424925', '031286504X', '140006208X', '081299499X', '66620996', '803734611', nan, '439236193', '141651693X', '440238609', '1480095532', '006222543X', '525426582', '312305060', '1623420024', '316191299', '451188462', '385739168', '385742886', '144477851X', '375726403', '1857232097', '803734964', '009928264X', '385338708', '1416524525', '316070521', '440241812', '393316041', '545123283', '553609416', '142437344', '765302306', '451529170', nan, '385339100', '345538374', '146109111X', '446350982', '045052468X', '316001929', '374292795', '385743564', '1558580093', '553213970', '61583251', '679740678', '393322238', '793551617', '812970063', '670023485', '345544927', '441013813', '786838922', '812976142', '812993543', '140424393', '393072231', '1416524290', '1406311529', '765325942', '553266306', '307463745', '525951989', '739352350', '679644199', '312965788', nan, '312966091', '1576469239', '037582913X', '425193799', '805094598', '770437850', '399256776', '2266079999', '525423281', '375703861', '62107062', '1582346186', '61974552', '1594488398', '836218051', '067001821X', '1439152802', '696215322', '330491237', '140282580', '055381706X', '670026611', '6480101', '345347951', '763625299', '60852550', '1619630656', '812513754', '385342306', '785263705', '385340397', '1484724917', '1250069793', '1607066017', '316126691', '99285045', '1590385810', '64407683', '451458443', '743264738', '1476717486', '385339097', '014034893X', '1594743347', '316154695', '679642420', '671746723', '810994739', '804138141', '62285688', '1594206279', '61992259', '393050327', '765350378', '1406310255', '312199430', '743296419', '1416521496', '525423664', '99578514', '1400049628', '440234743', '1579126251', '1416924981', '1594201455', '440995779', nan, '440241898', '141439610', '316349933', '1416968237', '312966970', '1573225789', '60889578', '385339151', '312857063', '312554168', '141439831', '1857988841', '2266047426', '62414216', '1563899426', '142000280', '446671002', '803736991', '525952926', '385352107', '033041836X', '140679239X', '8129104598', '425197549', '375836675', '141439653', '60855908', '038560310X', '380718340', '385537131', '312650248', '1583485090', '152061548', '713998946', '800759494', '1455520659', '679776192', '312995059', '743496744', '312423799', '446613347', '1101946342', '441172695', '6280560', '1416528636', '517092913', '316075809', nan, '767905202', '553213172', '140047484', '140620192', '1451629184', nan, '752224417', '62014536', '812550285', '192840509', '679728759', '1442426675', '751504386', '99437961', '8129115301', '1421508222', '451458923', '345484266', '618968474', nan, '014100018X', '553116606', '771068719', '1936305550', '192839993', '1400063736', '141321318', '440236703', nan, '1423121309', '761169253', '60512806', '1476730105', '60959037', '452282829', '006097625X', '316077054', '1594485755', '743454553', '330419641', '312976275', '1401322786', '60590270', '393324818', '078681859X', '446580503', '688014291', '553258478', '068484477X', '394758285', '014200068X', '446585025', '439272637', '316175676', nan, '810970686', '679433139', '1405204265', '1620610116', '62085530', '812968972', nan, '385354282', '081299860X', '1582349908', '60584750', '99549344', '451528352', '340837942', '670021458', '330371231', '1781162646', '1612620248', '068480154X', '038531258X', '811214044', '1609450787', '307353133', '62515675', '670022691', '575077026', '399254129', '689818769', '810983915', '62065246', nan, '006223742X', '385539258', '1563899809', '765330423', nan, '345452003', '1442408928', '451528522', nan, '61122092', '1402726023', '450542882', '1937044963', '553213148', '448405202', '399162097', '765304740', '679722769', '142401773', '312304358', '99471426', '1581345283', nan, '1594634475', '440243750', '64400565', '380508567', '375708111', '64408639', '312980140', '61662763', '451459407', '152802177', '575077883', '345494997', '312983867', '60566221', '446359408', '375508325', '1400032822', '051722285X', '1932416641', '140003471X', '582416396', '805093079', '307265749', '142406635', '067001110X', '385339674', '553565699', '451194004', '375507779', '812550293', '140042520', '1841497126', '1400067553', '152058109', '553804685', '679734775', '670018708', '61245089', '141318309', '60278250', '446612545', '751504572', '441104029', '1841499889', '1619636042', '679729771', '140501827', '747267634', '312554192', '385495226', '99448475', '670024856', '1592402038', '60572965', '399231900', '752898477', '61996165', '310226058', '812577566', '440421705', '679729526', '1594487367', '307265838', '553375407', '1416995552', '373210493', '439321611', '395401461', '451196716', '60566213', '385732538', '451412354', '385516487', '316057770', '446579807', '1301627445', '61015733', '316122386', '786836547', '184243022X', '156031663', '385340540', '1595143971', '671250671', '451459873', '807508527', '143123238', '91940737', nan, '297854399', '676979343', '316601950', '140283307', '743464117', '785819118', '1891830430', '61374229', '345439104', '876850867', '679744398', '1593082045', '1569319014', '451450523', '60577312', '689848919', '670018864', '307408868', '812504690', '1439177724', '872863107', '073380084X', '1617750255', '345418778', '074325807X', '385343833', '778324338', '451222350', '60502932', '967686563', '451223292', '045146091X', '345539826', '055215430X', '61020702', '316078573', '62430874', '575077905', '1476770387', '679800034', '393330478', '60590165', '316155594', '316080845', '312642989', '141439734', '545457823', '345503805', '486426750', '440241022', '1423140575', '1416552510', '330448447', '081257558X', '451461037', '451529553', '618084746', nan, '441627404', '552152978', '385323069', '618477942', '006135323X', nan, '7148984', '765325950', '1419701762', '810984911', '312990227', '60839783', '446696633', '141014083', '142001805', '345373944', '747571775', '1573221112', '1400065674', '385333137', '62003933', '385339682', '1400032814', '312985347', '439554004', '743236017', '316926345', '451461401', '62306812', '786915749', '786849568', '1416951172', '399244557', '670025593', '1585421464', '067084487X', '61147958', '679456724', '385528779', '312364121', '385339658', '316067598', nan, '1579126278', '006083756X', '316033650', '1907411054', '044669651X', '307887898', '1595143181', '743290119', '345335457', '785136207', '671728687', '1594481938', '439706408', '340640146', '515142247', '316123528', '60878061', '61147931', '1419702238', '316033669', '1416543007', '1862301387', '140447571', '1501132938', '553213296', '679736379', '044024191X', '373210132', '1576737330', '812983602', '786868724', '1400043468', '1922182109', '9380658797', '006117758X', '375825444', '974320625', '670035386', '765354942', '380727501', '451461894', '1607060760', '1599900734', '553496646', '486282228', '62124269', '1590388984', '140298479', '067976397X', '446698466', '767903862', '192123092', '812992792', '345300785', '375714839', '449213447', '451171357', '385528701', '786891084', '64441555', nan, '765326264', '1595148035', '451222725', '62110837', nan, '64410137', '143037617', '64431436', '044101268X', '689878559', '224085611', '1439199353', '451225856', '553288202', '446698873', '688120490', '743246985', '394800206', '60885408', '1501100130', '61558230', '316184136', '60935472', '1416553649', '60899190', '7119550', '152047379', '340818670', '345544951', '037571894X', '743246071', '316133973', '1842430351', '399244573', '1423157370', '60832819', '1416560610', '1846558913', '1844082938', '345501330', '756410436', nan, '451229851', '141001828', '743289684', '1400063515', '345504984', '374529523', '553380966', '60892994', '1580493882', '1439138311', '1442409053', '62300547', '312864590', '1580495869', '544272994', '765348780', '7251866', '440401585', '043977134X', '1439102724', '345419634', '446615625', '316155608', '812551478', '743272501', '385683421', '385542364', '786838930', '373210183', '988393506', '385535144', '143036378', '525444440', '316075558', '143036696', '64440206', 

In [207]:
pip install requests beautifulsoup4

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Collecting requests
  Downloading requests-2.31.0-py3-none-any.whl.metadata (4.6 kB)
Collecting beautifulsoup4
  Downloading beautifulsoup4-4.12.3-py3-none-any.whl.metadata (3.8 kB)
Collecting charset-normalizer<4,>=2 (from requests)
  Downloading charset_normalizer-3.3.2-cp39-cp39-macosx_11_0_arm64.whl.metadata (33 kB)
Collecting idna<4,>=2.5 (from requests)
  Downloading idna-3.6-py3-none-any.whl.metadata (9.9 kB)
Collecting urllib3<3,>=1.21.1 (from requests)
  Downloading urllib3-2.2.0-py3-none-any.whl.metadata (6.4 kB)
Collecting certifi>=2017.4.17 (from requests)
  Downloading certifi-2024.2.2-py3-none-any.whl.metadata (2.2 kB)
Collecting soupsieve>1.2 (from beautifulsoup4)
  Downloading soupsieve-2.5-py3-none-any.whl.metadata (4.7 kB)
Downloading requests-2.31.0-py3-none-any.whl (62 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.6/62.6 kB 7.9 MB/s eta 0:00:00
Downloading beautifulsoup4-4.12.3-py3-none-any.whl (147 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 147.9/147.9 kB 8.4 MB/s eta 0:00:00
Downloading certifi-2024.2.2-py3-none-any.whl (163 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 163.8/163.8 kB 8.5 MB/s eta 0:00:00
Downloading charset_normalizer-3.3.2-cp39-cp39-macosx_11_0_arm64.whl (120 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 120.4/120.4 kB 5.9 MB/s eta 0:00:00
Downloading idna-3.6-py3-none-any.whl (61 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 61.6/61.6 kB 5.2 MB/s eta 0:00:00
Downloading soupsieve-2.5-py3-none-any.whl (36 kB)
Downloading urllib3-2.2.0-py3-none-any.whl (120 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 120.9/120.9 kB 8.9 MB/s eta 0:00:00
Installing collected packages: urllib3, soupsieve, idna, charset-normalizer, certifi, requests, beautifulsoup4
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
  DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Successfully installed beautifulsoup4-4.12.3 certifi-2024.2.2 charset-normalizer-3.3.2 idna-3.6 requests-2.31.0 soupsieve-2.5 urllib3-2.2.0
Note: you may need to restart the kernel to use updated packages.

In [208]:
books

,ISBN,Title,Author,Year,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company
...,...,...,...,...,...
271355,0440400988,There's a Bat in Bunk Five,Paula Danziger,1988,Random House Childrens Pub (Mm)
271356,0525447644,From One to One Hundred,Teri Sloat,1991,Dutton Books
271357,006008667X,Lily Dale : The True Story of the Town that Ta...,Christine Wicker,2004,HarperSanFrancisco
271358,0192126040,Republic (World's Classics),Plato,1996,Oxford University Press
271359,0767409752,A Guided Tour of Rene Descartes' Meditations o...,Christopher Biffle,2000,McGraw-Hill Humanities/Social Sciences/Languages

In [211]:
# Assuming 'df' is your DataFrame containing the book data
# Assuming 'Title' is the column containing book titles and 'ISBN' is the column containing ISBNs

# Filter the DataFrame for rows where the title is "Hunger Games"
filtered_df = bx[bx['Title'] == 'Hunger Games']

# If there are multiple books with the title "Hunger Games", you can get all their ISBNs
isbn_list = filtered_df['ISBN'].tolist()

# If there's only one book with the title "Hunger Games", you can directly get its ISBN
if len(isbn_list) == 1:
    isbn = isbn_list[0]
    print("ISBN of the book 'Hunger Games':", isbn)
elif len(isbn_list) > 1:
    print("Multiple books found with the title 'Hunger Games'.")
    print("ISBNs of the books:", isbn_list)
else:
    print("No book found with the title 'Hunger Games'.")

KeyError: 'ISBN'

In [212]:
pip install requests

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: requests in /opt/homebrew/lib/python3.9/site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/homebrew/lib/python3.9/site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/homebrew/lib/python3.9/site-packages (from requests) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/homebrew/lib/python3.9/site-packages (from requests) (2.2.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/homebrew/lib/python3.9/site-packages (from requests) (2024.2.2)
DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Note: you may need to restart the kernel to use updated packages.

### API key: AIzaSyBRY2rVwptKpyrHc32oFOzCWj9R3WsgDl4